.custom-legend-label {
    width: auto;
    height: auto;
    display: inline-block;
    margin-right: 20px;
    margin-left: 5px;
}

.custom-legend-label-first-circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}
.custom-legend-label-second-circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    opacity: 30%;
    margin-left: -3px;
}

.legend-label-container {
    display: inline-block;
    cursor: pointer;
}