.page-content {
  overflow: hidden; }
  .page-content .container {
    padding: 0px 20px; }

img {
  max-width: 100%; }

.img-center {
  display: block;
  margin: 0 auto; }

a {
  color: #464646; }
  a:hover {
    color: inherit;
    text-decoration: none; }

body {
  background: linear-gradient(170deg, #F0F1F6 0%, #FCFCFC 100%);
  font-family: 'Quicksand', sans-serif;
  background-attachment: fixed;
  padding-top: 85px;
  overflow-x: hidden; }

@media (min-width: 992px) {
  body {
    padding-top: 120px; }
}
h1 {
  color: #D40A36;
  font-size: 24px;
  font-weight: 600; }

h2 {
  font-weight: 700;
  font-size: 24px !important; }

b, strong {
  font-weight: 600; }

p {
  font-size: 14px;
  line-height: 19px; }

.page-construction-budget p {
  font-size: 16px;
  line-height: 21px; }

hr {
  border-color: #B4B5BF; }

.txt-large {
  font-size: 17px;
  line-height: 22px; }

.txt-large-primary {
  font-size: 18px !important;
  font-weight: 700;
  color: #D40A36;
  width: 100%;
  display: block;
  line-height: 1.6rem !important; }

.mt-large {
  margin-top: 110px; }

.mt-xlarge {
  margin-top: 180px; }

.pt-large {
  padding-top: 65px; }

@media (min-width: 768px) {
  .txt-large-primary {
    font-size: 24px;
    line-height: 35px; }

  .mt-md-xlarge {
    margin-top: 150px !important; } }
.text-small {
  font-size: 14px !important; }

.txt-primary {
  color: #D40A36; }

.headline {
  margin: 3rem auto; }

.bg-purple-dark {
  background: #5E338C !important; }

.bg-purple-flash {
  background: #CD00CB !important; }

.bg-pink {
  background: #FF008E !important; }

.bg-red-flash {
  background: #FF3900 !important; }

.bg-yellow {
  background: #EA973E !important; }

.mh-95 {
  max-height: 95px; }

@media (min-width: 768px) {
  .position-md-absolute {
    position: absolute; } }
.cards.graph-1 {
  margin-top: 0px; }

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%; }

  .mt-lg-large {
    margin-top: 130px !important; } }
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1350px; }

  .mt-lg-large {
    margin-top: 80px !important; } }
@media (min-width: 1200px) {
  .page-construction-budge .cards {
    padding: 35px 25px; }

  .card-rounded.card-rounded-2 {
    max-width: 900px;
    margin-right: 0px; } }
@media (min-width: 768px) {
  .img-resize div {
    max-width: 75%; } }
@media (min-width: 992px) {
  .img-resize div {
    max-width: 45%;
    min-width: 80px; } }
@media (min-width: 1200px) {
  .small-paragraphe {
    max-width: 330px; } }
.btn-primary {
  background-color: #D40A36;
  border-width: 0px;
  padding: 8px 20px;
  width: 100%;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  min-height: 35px;
  max-width: 100%;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5; }
  .btn-primary:after {
    content: "";
    background-color: #D40A36 !important;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    z-index: -1;
    transform-origin: bottom; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary .btn-secondary:not(:disabled):not(.disabled):active:focus {
    background-color: transparent !important;
    border-width: 0px;
    border-radius: 50px;
    box-shadow: none;
    box-shadow: none !important; }
    .btn-primary:hover:after, .btn-primary:active:after, .btn-primary:focus:after, .btn-primary:not(:disabled):not(.disabled):active:after, .btn-primary .btn-secondary:not(:disabled):not(.disabled):active:focus:after {
      animation-name: boingHover;
      animation-duration: 0.8s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
      transform: scale(1) translateY(0px); }
  .btn-primary span.external-icon {
    z-index: 50;
    position: relative;
    width: 15px;
    margin-left: 10px;
    height: auto; }

.home .btn {
  font-size: 11px; }

@media (min-width: 768px) {
  .btn-primary {
    max-width: 310px; } }
@keyframes boingHover {
  25% {
    transform: scale(0.9) translateY(-1px) translateX(-1px); }
  50% {
    transform: scale(1.1) translateY(2px) translateX(1px); }
  100% {
    transform: scale(1) translateY(0px) translateX(0px); } }
.btn-group, .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  background: #c3c4cd;
  border-radius: 50px !important;
  width: 180px; }
  .btn-group .btn-secondary, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary, .btn-group > .btn:not(:first-child) .btn-secondary, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary {
    background: #c3c4cd;
    color: #464646;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 15px;
    outline: 0;
    box-shadow: none; }
    .btn-group .btn-secondary:hover, .btn-group .btn-secondary:active, .btn-group .btn-secondary:focus, .btn-group .btn-secondary:not(:disabled):not(.disabled):active, .btn-group .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-group .btn-secondary.focus, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary:hover, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary:active, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary:focus, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary:not(:disabled):not(.disabled):active, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary.focus, .btn-group > .btn:not(:first-child) .btn-secondary:hover, .btn-group > .btn:not(:first-child) .btn-secondary:active, .btn-group > .btn:not(:first-child) .btn-secondary:focus, .btn-group > .btn:not(:first-child) .btn-secondary:not(:disabled):not(.disabled):active, .btn-group > .btn:not(:first-child) .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-group > .btn:not(:first-child) .btn-secondary.focus, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary:hover, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary:active, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary:focus, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary:not(:disabled):not(.disabled):active, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary.focus, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary:hover, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary:active, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary:focus, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary:not(:disabled):not(.disabled):active, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary.focus {
      background: #D40A36 !important;
      color: white;
      border: none !important;
      box-shadow: none !important;
      outline: none;
      border-color: transparent !important; }

.btn-secondary.active, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background: #D40A36 !important;
  color: white;
  border: none !important;
  box-shadow: none;
  outline: none;
  border-color: transparent !important; }

.btn-secondary {
  background: white;
  text-transform: uppercase;
  color: #464646;
  padding: 10px 17px;
  border: 1px solid rgba(180, 181, 191, 0.2);
  border-radius: 50px;
  font-size: 12px;
  position: relative;
  z-index: 0; }
  .btn-secondary:after {
    content: "";
    background-color: transparent !important;
    border: 1px solid rgba(180, 181, 191, 0.2);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    z-index: -1;
    transform-origin: bottom; }
  .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:focus-visible, .btn-secondary:focus, .btn-secondary:visited, .btn-secondary .btn.focus, .btn-secondary .btn:focus {
    background-color: transparent !important;
    border-width: 0px;
    border-radius: 50px;
    box-shadow: none !important;
    color: #464646;
    border: 1px solid transparent;
    outline: none; }
    .btn-secondary:hover:after, .btn-secondary:active:after, .btn-secondary:focus:after, .btn-secondary:not(:disabled):not(.disabled):active:after, .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus:after, .btn-secondary:focus-visible:after, .btn-secondary:focus:after, .btn-secondary:visited:after, .btn-secondary .btn.focus:after, .btn-secondary .btn:focus:after {
      animation-name: boingHover;
      animation-duration: 0.8s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
      transform: scale(1) translateY(0px); }

@media (min-width: 576px) {
  .btn-group, .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    width: 200px; } }
.custom-select select.form-control {
  width: 120px;
  border: 0;
  position: absolute;
  z-index: 99;
  background: none;
  top: 0px;
  font-weight: 600;
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #464646;
  background-image: none;
  cursor: pointer; }
  .custom-select select.form-control:focus {
    outline: none; }
.custom-select:after {
  width: 8px;
  height: 8px;
  border-top: 2px solid #d40a36;
  border-right: 2px solid #d40a36;
  position: absolute;
  top: 50%;
  right: 15px;
  content: "";
  z-index: 50;
  display: block;
  background: transparent;
  transform: translateY(-50%) rotate(135deg); }

.custom-selectOne {
  position: relative; }

.custom-selectOne select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  width: 90px;
  border-radius: 30px;
  text-align: center;
  font-weight: 600;
  background: white;
  display: flex; }

/*style the arrow inside the select element:*/
.select-selected:after {
  width: 8px;
  height: 8px;
  border-top: 2px solid #d40a36;
  border-right: 2px solid #d40a36;
  position: absolute;
  top: 50%;
  right: 15px;
  content: "";
  z-index: 50;
  display: block;
  background: transparent;
  transform: translateY(-50%) rotate(135deg); }

/*point the arrow upwards when the select box is open (active):*/
/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  color: #464646;
  text-align: center;
  font-weight: 600; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 2px 14px 0 rgba(163, 172, 185, 0.2);
  border-radius: 5px; }
  .select-items div {
    border: none; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.box-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

@media (min-width: 768px) {
  .box-options {
    justify-content: space-between; } }
@media (min-width: 992px) {
  .sticky_filter {
    position: sticky;
    top: 100px;
    z-index: 800;
    padding: 15px 0px; }
    .sticky_filter.sticky-scroll {
      background: #E4E5EB;
      width: 100vw;
      position: fixed;
      left: 0px;
      top: 90px;
      transition: all 0.3s linear;
      max-width: 100%;
      padding: 20px 0px; }
      .sticky_filter.sticky-scroll .sticky-hidden {
        display: none; }
      .sticky_filter.sticky-scroll .box-options {
        padding-right: 15px; }
      .sticky_filter.sticky-scroll .sticky-row {
        justify-content: flex-end;
        padding-right: 15px; }
      .sticky_filter.sticky-scroll .sticky-box-options {
        display: flex;
        justify-content: flex-end; }
        .sticky_filter.sticky-scroll .sticky-box-options .box-options {
          min-width: 330px;
          padding-right: 15px;
          width: 330px; } }
@media (min-width: 992px) {
  h1.sticky-title {
    position: fixed;
    top: 118px;
    z-index: 5000;
    margin-bottom: 0px; } }
@media (min-width: 1400px) {
  .sticky_filter.sticky-scroll .sticky-row {
    padding-right: calc((100% - 1350px)/2); } }
.accordion .card {
  background: transparent;
  border: none; }
  .accordion .card .card-header {
    background: transparent;
    border: none; }
  .accordion .card .card-body {
    padding-top: 0px;
    font-size: 14px; }
  .accordion .card.first-accordion.card-header {
    padding: 0px; }
    .accordion .card.first-accordion.card-header .btn-collapse.first-collapse:after {
      display: none; }

.btn-collapse, .last-collapse, .btn-collapse:not(:disabled):not(.disabled), .btn-collapse:hover {
  text-decoration: none !important;
  background-color: white !important;
  width: 100%;
  color: #464646;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 14px 0 rgba(163, 172, 185, 0.2);
  padding: 10px 25px;
  padding-left: 50px;
  min-height: 35px;
  border-radius: 50px;
  position: relative;
  border: 1px solid rgba(180, 181, 191, 0.2); }
  .btn-collapse .title-collapse, .last-collapse .title-collapse, .btn-collapse:not(:disabled):not(.disabled) .title-collapse, .btn-collapse:hover .title-collapse {
    font-size: 12px;
    max-width: 55%;
    text-align: left; }
  .btn-collapse .infos-bulle, .last-collapse .infos-bulle, .btn-collapse:not(:disabled):not(.disabled) .infos-bulle, .btn-collapse:hover .infos-bulle {
    position: absolute;
    background: white;
    box-shadow: 0 2px 14px 2px rgba(163, 172, 185, 0.25);
    top: -5px;
    left: 0px;
    z-index: 8;
    transform: translateY(-100%);
    font-size: 11px;
    padding: 7px;
    border-radius: 7px;
    width: 100%;
    text-align: left; }
  .btn-collapse .budget, .last-collapse .budget, .btn-collapse:not(:disabled):not(.disabled) .budget, .btn-collapse:hover .budget {
    font-size: 11px; }
  .btn-collapse:hover, .btn-collapse:focus, .btn-collapse:active, .btn-collapse:focus-within, .btn-collapse:focus-visible, .btn-collapse:not(:disabled):not(.disabled).active, .btn-collapse.show > .btn-primary.dropdown-toggle, .btn-collapse:not(:disabled):not(.disabled), .last-collapse:hover, .last-collapse:focus, .last-collapse:active, .last-collapse:focus-within, .last-collapse:focus-visible, .last-collapse:not(:disabled):not(.disabled).active, .last-collapse.show > .btn-primary.dropdown-toggle, .last-collapse:not(:disabled):not(.disabled), .btn-collapse:not(:disabled):not(.disabled):hover, .btn-collapse:not(:disabled):not(.disabled):focus, .btn-collapse:not(:disabled):not(.disabled):active, .btn-collapse:not(:disabled):not(.disabled):focus-within, .btn-collapse:not(:disabled):not(.disabled):focus-visible, .btn-collapse:not(:disabled):not(.disabled):not(:disabled):not(.disabled).active, .btn-collapse:not(:disabled):not(.disabled).show > .btn-primary.dropdown-toggle, .btn-collapse:not(:disabled):not(.disabled):not(:disabled):not(.disabled), .btn-collapse:hover:hover, .btn-collapse:hover:focus, .btn-collapse:hover:active, .btn-collapse:hover:focus-within, .btn-collapse:hover:focus-visible, .btn-collapse:hover:not(:disabled):not(.disabled).active, .btn-collapse:hover.show > .btn-primary.dropdown-toggle, .btn-collapse:hover:not(:disabled):not(.disabled) {
    background-color: white !important;
    box-shadow: 0 2px 14px 0 rgba(163, 172, 185, 0.2) !important;
    color: #464646 !important;
    border: none;
    outline-offset: 0px;
    outline: none;
    border: 1px solid rgba(180, 181, 191, 0.3); }
  .btn-collapse:before, .last-collapse:before, .btn-collapse:not(:disabled):not(.disabled):before, .btn-collapse:hover:before {
    content: "-";
    display: block;
    width: 25px;
    height: 25px;
    background: #F0F2F3;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%); }
  .btn-collapse.collapsed:before, .last-collapse.collapsed:before, .btn-collapse:not(:disabled):not(.disabled).collapsed:before, .btn-collapse:hover.collapsed:before {
    content: "+";
    display: block;
    width: 25px;
    height: 25px;
    background: #F0F2F3;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%); }
  .btn-collapse:after, .last-collapse:after, .btn-collapse:not(:disabled):not(.disabled):after, .btn-collapse:hover:after {
    content: "";
    width: 15px;
    height: 100%;
    border-bottom: 1px solid #B4B5BF;
    display: block;
    border-left: 1px solid #B4B5BF;
    position: absolute;
    top: 0px;
    left: -15px;
    transform: translateY(-50%);
    z-index: -1; }



.info-collapse {
  font-size: 13px;
  margin-bottom: 30px; }

.display-p p:first-child {
  display: none; }

@media (max-width: 380px) {
  .btn-collapse, .last-collapse, .btn-collapse:not(:disabled):not(.disabled), .btn-collapse:hover {
    display: flex;
    flex-direction: column; }

  span, .title-collapse {
    width: 100%;
    max-width: 100% !important; } }
.last-collapse {
  padding-left: 30px; }
  .last-collapse:before {
    display: none; }

.progress-box {
  margin: 15px auto 30px auto; }
  .progress-box .progress {
    height: 4px;
    background: transparent;
    overflow: visible; }
    .progress-box .progress .progress-bar {
      background: #5E338C;
      position: relative;
      overflow: visible; }
      .progress-box .progress .progress-bar:after {
        content: attr(aria-valuenow) "%";
        position: absolute;
        right: -40px;
        color: #464646;
        width: 35px; }

.truncate {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 150px; }

.ele-clone {
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  position: fixed; }

.accordion .card .card-body {
  position: relative;
  padding: 2.25rem;
  padding-top: 0; }

.btn-tooltips {
  max-width: 30px;
  max-height: 30px;
  padding: 5px;
  }

.tooltip {
  will-change: inherit !important; }

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #343434;
  text-align: center;
  background-color: #fff;
  border-radius: 0.25rem;
  opacity: 1;
  box-shadow: 0 2px 14px 0px rgba(163, 172, 185, 0.44); }

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
  border-right-color: #fff; }

.cards {
  box-shadow: 0 2px 14px 0 rgba(163, 172, 185, 0.2);
  border-radius: 15px;
  padding: 20px;
  background: white;
  margin: 25px 0px; }
  .cards .content-cards {
    font-size: 16px; }
    .cards .content-cards h2.title-cards {
      text-transform: uppercase;
      font-size: 18px; }
  .cards .img-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    position: relative; }

.graph-1 .btn-graph-1 {
  height: 97px;
  width: 97px;
  background-color: rgba(180, 181, 191, 0.2);
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgba(180, 181, 191, 0.2);
  position: absolute;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%); }
  .graph-1 .btn-graph-1 svg {
    margin-bottom: 5px; }
.graph-1 .img-cards img {
  width: 100%; }

.graph-table table {
  font-size: 12px;
  width: 100%; }
  .graph-table table tr th, .graph-table table tr td {
    width: 100%; }
  .graph-table table thead {
    font-weight: 400; }
    .graph-table table thead tr th:nth-child(2), .graph-table table thead tr th:nth-child(3) {
      display: none; }
    .graph-table table thead tr:first-child {
      background: #D40A36;
      color: white; }
      .graph-table table thead tr:first-child th {
        padding: 12px 15px; }
        .graph-table table thead tr:first-child th .box-filter {
          display: flex;
          justify-content: space-between; }
          .graph-table table thead tr:first-child th .box-filter .filter {
            display: flex; }
            .graph-table table thead tr:first-child th .box-filter .filter .arrow-bottom {
              position: relative;
              top: 3px; }
            .graph-table table thead tr:first-child th .box-filter .filter .arrow-top {
              position: relative;
              bottom: 3px; }
    .graph-table table thead tr:last-child th.search-box {
      position: relative;
      height: 45px; }
      .graph-table table thead tr:last-child th.search-box input.form-control {
        border: none;
        border-radius: 50px;
        background: #F0F2F3;
        position: absolute;
        width: 100%;
        top: 15%;
        height: 70%;
        font-size: 11px; }
        .graph-table table thead tr:last-child th.search-box input.form-control:focus {
          box-shadow: none !important; }
      .graph-table table thead tr:last-child th.search-box button {
        position: absolute;
        right: 15px;
        top: 50%;
        border: none;
        background-color: transparent;
        margin: 0px !important;
        transform: translateY(-50%);
        height: 70%;
        padding: 0px;
        padding-bottom: 5px; }
        .graph-table table thead tr:last-child th.search-box button:hover, .graph-table table thead tr:last-child th.search-box button:focus, .graph-table table thead tr:last-child th.search-box button:active, .graph-table table thead tr:last-child th.search-box button:focus {
          border: none;
          background-color: transparent;
          box-shadow: none !important; }
  .graph-table table tbody tr {
    border-top: 1px solid #c3c4cd;
    display: flex;
    flex-flow: row wrap;
    padding: 5px 0px; }
    .graph-table table tbody tr td p {
      margin-bottom: 0px;
      font-size: 11px; }
    .graph-table table tbody tr td:first-child, .graph-table table tbody tr td:nth-child(2) {
      width: 60%;
      max-width: 100%; }
      .graph-table table tbody tr td:first-child p, .graph-table table tbody tr td:nth-child(2) p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        max-width: 200px; }
    .graph-table table tbody tr td:last-child {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      max-width: 100%; }
    .graph-table table tbody tr:last-child {
      border-bottom: 1px solid #c3c4cd; }
.graph-table.table-donnee table {
  min-width: 370px; }
  .graph-table.table-donnee table thead tr th {
    font-size: 14px; }
    .graph-table.table-donnee table thead tr th:first-child {
      width: calc(100% / 3); }
    .graph-table.table-donnee table thead tr th:nth-child(2), .graph-table.table-donnee table thead tr th:nth-child(3) {
      display: table-cell;
      width: calc(100% / 3); }
  .graph-table.table-donnee table tbody tr {
    padding: 5px 0px;
    display: table-row;
    width: 100%; }
    .graph-table.table-donnee table tbody tr td {
      padding: 12px 15px; }
      .graph-table.table-donnee table tbody tr td p {
        font-size: 14px; }
      .graph-table.table-donnee table tbody tr td:first-child, .graph-table.table-donnee table tbody tr td:nth-child(2) {
        max-width: 100%;
        width: auto; }
      .graph-table.table-donnee table tbody tr td:last-child {
        width: auto;
        display: table-cell; }

.graph-1, .graph-2, .graph-table {
  padding: 35px;
  border-radius: 0px; }

@media (min-width: 576px) {
  .cards {
    padding: 25px; }

  .graph-1, .graph-2, .graph-table {
    padding: 45px;
    border-radius: 25px; } }
@media (min-width: 992px) {
  .graph-table table {
    font-size: 12px;
    width: 100%; }
    .graph-table table thead tr th:nth-child(2), .graph-table table thead tr th:nth-child(3) {
      display: table-cell; }
    .graph-table table thead tr:last-child th.search-box input.form-control {
      left: 2.5%;
      width: 95%;
      margin: 0px !important; }
    .graph-table table thead tr th:first-child, .graph-table table thead tr th:nth-child(2), .graph-table table thead tr td:first-child, .graph-table table thead tr td:nth-child(2), .graph-table table tbody tr th:first-child, .graph-table table tbody tr th:nth-child(2), .graph-table table tbody tr td:first-child, .graph-table table tbody tr td:nth-child(2) {
      width: 35%; }
    .graph-table table thead tr th:last-child, .graph-table table thead tr td:last-child, .graph-table table tbody tr th:last-child, .graph-table table tbody tr td:last-child {
      width: 30%;
      display: table-cell; }
    .graph-table table tbody tr {
      display: table-row;
      width: 100%; }
      .graph-table table tbody tr td {
        padding: 5px; } }
.title-buble {
  font-size: 24px !important;
  font-weight: 700;
  color: #D40A36;
  margin-bottom: 25px;
  line-height: 29px !important; }

.buble {
  position: relative;
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-width: 50%;
  z-index: 1;
  height: 260px; }
  .buble .txt-buble {
    max-width: 65%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-5%); }
    .buble .txt-buble p {
      margin-bottom: 0px;
      font-size: 15px; }
  .buble .bg-buble {
    position: absolute;
    top: 0px;
    z-index: -1;
    height: 100%;
    width: auto; }
    .buble .bg-buble img {
      height: 100%;
      width: auto;
      object-fit: contain; }

@media (min-width: 450px) {
  .buble .txt-buble {
    max-width: 55%; }
    .buble .txt-buble p {
      font-size: 16px; } }
@media (min-width: 768px) {
  .buble .txt-buble {
    max-width: 60%; }
    .buble .txt-buble p {
      font-size: 16px; } }
@media (min-width: 992px) {
  .buble .txt-buble {
    max-width: 60%; }

  .container-buble-1 {
    position: absolute;
    top: 80%;
    min-width: 100%;
    width: 100%;
    margin: 0 auto;
    left: 0px; } }
@media (min-width: 1200px) {
  .buble .txt-buble {
    max-width: 45%; } }
.duble-buble .buble-col-1, .duble-buble .buble-col-2, .duble-buble .buble-col-3{
  width: 100%; }
  .duble-buble .buble-col-1 .buble, .duble-buble .buble-col-2 .buble, .duble-buble .buble-col-3 .buble {
    top: 0px;
    bottom: 0px;
    min-height: 280px; }
.duble-buble .buble-col-1 .buble .txt-buble {
  transform: translateY(-55%) translateX(2.5%);
  max-width: 78%; }
.duble-buble .buble-col-2 .buble {
  min-height: 320px; }
  .duble-buble .buble-col-2 .buble .txt-buble {
    max-width: 60%;
    transform: translateY(-55%) translateX(-7%); }

    .duble-buble .buble-col-3 .buble {
      min-height: 320px; }
      .duble-buble .buble-col-3 .buble .txt-buble {
        max-width: 60%;
        transform: translateY(-60%) translateX(-9%); }

@media (min-width: 450px) {
  .duble-buble .buble-col-1 .buble .txt-buble {
    max-width: 50%;
    transform: translateY(-55%) translateX(0%); }
  .duble-buble .buble-col-2 .buble .txt-buble {
    max-width: 50%;
    transform: translateY(-55%) translateX(-5%); } }
  .duble-buble .buble-col-3 .buble .txt-buble {
    max-width: 50%;
    transform: translateY(-55%) translateX(-10%); }
@media (min-width: 768px) {
  .title-buble {
    position: relative;
    top: 0px;
    margin-bottom: 0px; }

  .duble-buble {
    min-height: 415px; }
    .duble-buble .buble-col-1 .buble {
      left: 15%;
      bottom: 40px;
      min-height: calc(30vh + 40px); }
      .duble-buble .buble-col-1 .buble .txt-buble {
        transform: translateY(-55%) translateX(0%);
        max-width: 60%; }
    .duble-buble .buble-col-2 .buble {
      top: 50px;
      min-height: 320px;
      right: 5%; }
      .duble-buble .buble-col-2 .buble .txt-buble {
        max-width: 60%;
        transform: translateY(-55%) translateX(-3%); } }
@media (min-width: 992px) {
  .title-buble {
    width: auto;
    margin: 1rem auto;
    max-width: 390px;
    top: 40px; } }
@media (min-width: 1200px) {
  .duble-buble .buble .txt-buble {
    max-width: 55%; }
  .duble-buble .buble-col-1 .buble {
    left: 25%;
    min-height: 300px; }
    .duble-buble .buble-col-1 .buble .txt-buble {
      transform: translateY(-55%) translateX(0%);
      max-width: 60%; } }
.card-calendar {
  margin-top: 30px;
  padding: 25px 15px; }
  .card-calendar .card-calendar-content {
    margin-top: 20px; }

.row-asymetric {
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .card-calendar {
    padding: 25px 45px; }

  .row-asymetric {
    margin-bottom: 170px; } }
@media (min-width: 992px) {
  .row-asymetric {
    min-height: 600px;
    margin-bottom: 0px; }
    .row-asymetric .card-calendar {
      padding: 0px; }
    .row-asymetric.pt-large {
      padding-top: 0px !important;
      margin-top: 330px; }

  .row-asymetric-2 {
    min-height: 710px; }

  .card-calendar {
    padding: 35px; } }
@media (min-width: 1200px) {
  .card-calendar {
    padding: 0px;
    max-width: 320px;
    margin: 0 auto; } }
.card-rounded {
  background: white;
  padding: 60px 20px;
  box-shadow: 0 2px 14px 0 rgba(163, 172, 185, 0.2);
  margin: 1.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center; }
  .card-rounded .txt-large-primary {
    font-size: 18px;
    line-height: 21px; }
  .card-rounded p {
    margin-bottom: 0px;
    line-height: 24px; }

@media (min-width: 768px) {
  .card-rounded {
    max-width: 100%;
    min-height: auto;
    padding: 40px 80px;
    border-radius: 160px; } }
.card-container-absolute {
  position: relative; }
  .card-container-absolute .card-rounded {
    padding: 110px 20px 50px;
    width: 100%; }
    .card-container-absolute .card-rounded p {
      line-height: 24px; }
  .card-container-absolute .card-img-absolute {
    position: relative;
    left: 0px;
    top: 110px;
    z-index: 1; }
    .card-container-absolute .card-img-absolute img {
      max-width: 450px;
      width: 100%; }

@media (min-width: 768px) {
  .card-container-absolute .card-img-absolute {
    left: -30px;
    top: 45px; }
    .card-container-absolute .card-img-absolute img {
      max-width: 100%; }
  .card-container-absolute .card-rounded {
    border-radius: 160px;
    width: auto;
    max-width: 100%;
    min-height: auto;
    padding: 60px 70px 40px 36%; } }
/*@media (min-width:1200px) {
	.card-container-absolute { 
		.card-rounded  { 
			padding: 30px 70px 30px 35%;
		}
	}
} */
@media (min-width: 768px) {
  .card-container-absolute.card-container-relative {
    margin-top: 50px; }
    .card-container-absolute.card-container-relative .card-img-absolute {
      position: absolute;
      top: 0px;
      right: -20px;
      left: auto;
      bottom: 0px; }
    .card-container-absolute.card-container-relative .card-rounded {
      padding: 30px 36%  30px 70px; } }
@media (min-width: 992px) {
  .card-container-absolute .card-img-absolute {
    left: auto;
    top: 0px;
    right: 15px; }

  .card-container-absolute.card-container-relative {
    margin-top: 100px; }
    .card-container-absolute.card-container-relative .card-rounded {
      padding: 30px 39%  30px 70px; }
    .card-container-absolute.card-container-relative .card-img-absolute {
      right: 2%;
      top: auto; } }
@media (min-width: 1200px) {
  .card-container-absolute.card-container-relative .card-rounded {
    padding: 50px 35%  50px 70px; } }
.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px 30px; }
  .price .price-details {
    text-align: center;
    color: #D40A36;
    font-size: 60px;
    line-height: 65px;
    font-weight: 700; }
  .price .price-infos {
    margin-bottom: 0px; }
  .price .price-bg {
    position: absolute;
    bottom: 0px; }

.card-full {
  background: white;
  padding: 40px 20px 0px;
  box-shadow: 0 2px 14px 0 rgba(163, 172, 185, 0.2);
  margin: 80px 0px 80px 0px; }

.row-img div {
  max-width: 30%;
  height: auto;
  margin: 0px 10px; }
  .row-img div img {
    max-height: 95px; }

@media (min-width: 992px) {
  .row-img div img {
    max-height: initial; } }
@media (min-width: 768px) {
  .card-full {
    margin: 100px 0px 80px 0px; } }
.btn-bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 0px 10px;
  width: auto;
  margin: 50px auto; }
  .btn-bg .bg-btn {
    position: absolute;
    top: 50%;
    width: 120%;
    transform: scale(0.9) translateY(-50%); }

@media (min-width: 992px) {
  .row-img-asymetric, .alone-img {
    height: 120px;
    margin-bottom: 1rem; }
    .row-img-asymetric .mh-95, .alone-img .mh-95 {
      max-height: initial; } }
@media (min-width: 1200px) {
  .btn-bg .bg-btn {
    transform: scale(1) translateY(-50%); } }
header {
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  margin: 0px; }
  header .navbar-brand {
    margin-right: 15px;
    padding: 0px; }
  header .navbar-light .navbar-toggler {
    border-color: transparent;
    background: #D40A36;
    border-radius: 100%;
    height: 50px;
    width: 50px; }
    header .navbar-light .navbar-toggler .navbar-toggler-icon {
      transition: all 0.3s linear;
      width: 20px;
      background-image: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      height: 2px;
      background: white; }
      header .navbar-light .navbar-toggler .navbar-toggler-icon:first-child {
        transform: translateY(1px) translateX(3px) rotate(45deg); }
      header .navbar-light .navbar-toggler .navbar-toggler-icon:nth-child(2) {
        opacity: 0px;
        width: 0px; }
      header .navbar-light .navbar-toggler .navbar-toggler-icon:last-child {
        transform: translateY(-3px) translateX(2px) rotate(-45deg); }
  header .navbar-light .navbar-toggler.collapsed {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .navbar-light .navbar-toggler.collapsed .navbar-toggler-icon {
      background-image: none;
      width: 20px;
      height: 2px;
      background-color: white;
      margin-bottom: 6px;
      display: block;
      transform: translateY(0px) translateX(0px) rotate(0deg); }
      header .navbar-light .navbar-toggler.collapsed .navbar-toggler-icon:last-child {
        margin-bottom: 0px; }
  header nav li a {
    font-size: 13px;
    font-weight: 600;
    color: #464646 !important;
    padding: 15px 5px !important; }
  header nav .navbar-collapse {
    background: white; }

.nav-box {
  display: none; }

@media (min-width: 992px) {
  header .navbar-light .navbar-toggler, header .navbar-light .navbar-toggler.collapsed {
    display: none; }
  header nav.navbar {
    transition: all 0.3s linear;
    height: 120px; }
    header nav.navbar.navbar-slim {
      height: 95px; }
    header nav.navbar .navbar-nav li a {
      position: relative;
      margin: 0px 1rem 0px 0px !important;
      padding: 0px !important;
      padding-bottom: 10px !important;
      transition: all 0.3s linear; }
      header nav.navbar .navbar-nav li a:after {
        content: "";
        background-color: #D40A36;
        width: 50px;
        height: 2px;
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        transition: all 0.3s linear; }
      header nav.navbar .navbar-nav li a:hover:after {
        width: 100%; }
    header nav.navbar .navbar-nav li.active a {
      text-shadow: 0 0 0.35px #464646, 0 0 0.35px #464646; }
      header nav.navbar .navbar-nav li.active a:after {
        width: 100%; }
    header nav.navbar .nav-box {
      position: absolute;
      right: 0px;
      display: flex;
      flex-direction: row;
      width: 32vw;
      align-items: center;
      background: #156fa8;
      color: white;
      justify-content: space-between;
      padding: 5px 25px;
      border-radius: 30px 0px 0px 30px; }
      header nav.navbar .nav-box p {
        margin-bottom: 0px;
        font-size: 12px;
        width: 50%;
        max-width: 140px;
        line-height: 14px; }
        header nav.navbar .nav-box p a {
          color: white; }
      header nav.navbar .nav-box .img-nav-box img {
        max-width: 130px; } }
@media (min-width: 1095px) {
  header nav.navbar .navbar-brand {
    margin-right: 1.5rem; }
  header nav .nav-box {
    padding: 8px 35px; } }
@media (min-width: 1200px) {
  header nav.navbar .navbar-nav li a {
    margin: 0px 1rem 0px 0px !important;
    padding: 10px 0rem !important; }
  header nav.navbar .nav-box {
    width: auto;
    padding-right: calc(((100% - 1350px)/2) + 15px); }
    header nav.navbar .nav-box .img-nav-box {
      margin-left: 2vw; }
      header nav.navbar .nav-box .img-nav-box img {
        max-width: 150px; } }
footer {
  padding-bottom: 60px; }
  footer .link-footer {
    font-size: 13px;
    font-weight: 600;
    padding-top: 10px; }
    footer .link-footer a {
      margin: auto 5px; }

/* CSS Document */
.animFadeIn, .animFadeInLeft, .animFadeInRight, .animSpeedLeft, .animSpeedRight, .animFadeDown {
  opacity: 0; }
  .animFadeIn.animate__lightSpeedInLeft, .animFadeIn.animate__lightSpeedInRight, .animFadeIn.animate__fadeInDown, .animFadeInLeft.animate__lightSpeedInLeft, .animFadeInLeft.animate__lightSpeedInRight, .animFadeInLeft.animate__fadeInDown, .animFadeInRight.animate__lightSpeedInLeft, .animFadeInRight.animate__lightSpeedInRight, .animFadeInRight.animate__fadeInDown, .animSpeedLeft.animate__lightSpeedInLeft, .animSpeedLeft.animate__lightSpeedInRight, .animSpeedLeft.animate__fadeInDown, .animSpeedRight.animate__lightSpeedInLeft, .animSpeedRight.animate__lightSpeedInRight, .animSpeedRight.animate__fadeInDown, .animFadeDown.animate__lightSpeedInLeft, .animFadeDown.animate__lightSpeedInRight, .animFadeDown.animate__fadeInDown {
    opacity: 1; }

.animZoomIn {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  transition: all 1s; }
  .animZoomIn.animate__zoomIn {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transition: all 1s; }
  .animZoomIn.animate__zoomOut {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    transition: all 1s; }

.animFadeDown .animate__fadeInDown {
  animation-name: fadeInDown; }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -30%, 0); }
  100% {
    opacity: 1;
    transform: translateZ(0); } }
.animFadeIn.animate__fadeIn.animate-delay-05s, .animFadeIn.animate__fadeInLeft.animate-delay-05s, .animFadeIn.animate__fadeInRight.animate-delay-05s, .animFadeIn.animate__zoomIn.animate-delay-05s, .animFadeIn.animate__lightSpeedInLeft.animate-delay-05s, .animFadeIn.animate__lightSpeedInRight.animate-delay-05s, .animFadeIn.animate__flipInX.animate-delay-05s, .animFadeInLeft.animate__fadeIn.animate-delay-05s, .animFadeInLeft.animate__fadeInLeft.animate-delay-05s, .animFadeInLeft.animate__fadeInRight.animate-delay-05s, .animFadeInLeft.animate__zoomIn.animate-delay-05s, .animFadeInLeft.animate__lightSpeedInLeft.animate-delay-05s, .animFadeInLeft.animate__lightSpeedInRight.animate-delay-05s, .animFadeInLeft.animate__flipInX.animate-delay-05s, .animFadeInRight.animate__fadeIn.animate-delay-05s, .animFadeInRight.animate__fadeInLeft.animate-delay-05s, .animFadeInRight.animate__fadeInRight.animate-delay-05s, .animFadeInRight.animate__zoomIn.animate-delay-05s, .animFadeInRight.animate__lightSpeedInLeft.animate-delay-05s, .animFadeInRight.animate__lightSpeedInRight.animate-delay-05s, .animFadeInRight.animate__flipInX.animate-delay-05s, .animSpeedLeft.animate__fadeIn.animate-delay-05s, .animSpeedLeft.animate__fadeInLeft.animate-delay-05s, .animSpeedLeft.animate__fadeInRight.animate-delay-05s, .animSpeedLeft.animate__zoomIn.animate-delay-05s, .animSpeedLeft.animate__lightSpeedInLeft.animate-delay-05s, .animSpeedLeft.animate__lightSpeedInRight.animate-delay-05s, .animSpeedLeft.animate__flipInX.animate-delay-05s, .animSpeedRight.animate__fadeIn.animate-delay-05s, .animSpeedRight.animate__fadeInLeft.animate-delay-05s, .animSpeedRight.animate__fadeInRight.animate-delay-05s, .animSpeedRight.animate__zoomIn.animate-delay-05s, .animSpeedRight.animate__lightSpeedInLeft.animate-delay-05s, .animSpeedRight.animate__lightSpeedInRight.animate-delay-05s, .animSpeedRight.animate__flipInX.animate-delay-05s, .animFlipX.animate__fadeIn.animate-delay-05s, .animFlipX.animate__fadeInLeft.animate-delay-05s, .animFlipX.animate__fadeInRight.animate-delay-05s, .animFlipX.animate__zoomIn.animate-delay-05s, .animFlipX.animate__lightSpeedInLeft.animate-delay-05s, .animFlipX.animate__lightSpeedInRight.animate-delay-05s, .animFlipX.animate__flipInX.animate-delay-05s, .animZoomIn.animate__fadeIn.animate-delay-05s, .animZoomIn.animate__fadeInLeft.animate-delay-05s, .animZoomIn.animate__fadeInRight.animate-delay-05s, .animZoomIn.animate__zoomIn.animate-delay-05s, .animZoomIn.animate__lightSpeedInLeft.animate-delay-05s, .animZoomIn.animate__lightSpeedInRight.animate-delay-05s, .animZoomIn.animate__flipInX.animate-delay-05s {
  animation-delay: 0.8s; }
.animFadeIn.animate__fadeOut.animate-delay-05s, .animFadeIn.animate__fadeOutLeft.animate-delay-05s, .animFadeIn.animate__fadeOutRight .animFadeIn.animate__zoomOut.animate-delay-05s, .animFadeIn.animate__lightSpeedOutLeft.animate-delay-05s, .animFadeIn.animate__lightSpeedOutRight.animate-delay-05s, .animFadeIn.animate__flipOutX.animate-delay-05s, .animFadeInLeft.animate__fadeOut.animate-delay-05s, .animFadeInLeft.animate__fadeOutLeft.animate-delay-05s, .animFadeInLeft.animate__fadeOutRight .animFadeIn.animate__zoomOut.animate-delay-05s, .animFadeInLeft.animate__lightSpeedOutLeft.animate-delay-05s, .animFadeInLeft.animate__lightSpeedOutRight.animate-delay-05s, .animFadeInLeft.animate__flipOutX.animate-delay-05s, .animFadeInRight.animate__fadeOut.animate-delay-05s, .animFadeInRight.animate__fadeOutLeft.animate-delay-05s, .animFadeInRight.animate__fadeOutRight .animFadeIn.animate__zoomOut.animate-delay-05s, .animFadeInRight.animate__lightSpeedOutLeft.animate-delay-05s, .animFadeInRight.animate__lightSpeedOutRight.animate-delay-05s, .animFadeInRight.animate__flipOutX.animate-delay-05s, .animSpeedLeft.animate__fadeOut.animate-delay-05s, .animSpeedLeft.animate__fadeOutLeft.animate-delay-05s, .animSpeedLeft.animate__fadeOutRight .animFadeIn.animate__zoomOut.animate-delay-05s, .animSpeedLeft.animate__lightSpeedOutLeft.animate-delay-05s, .animSpeedLeft.animate__lightSpeedOutRight.animate-delay-05s, .animSpeedLeft.animate__flipOutX.animate-delay-05s, .animSpeedRight.animate__fadeOut.animate-delay-05s, .animSpeedRight.animate__fadeOutLeft.animate-delay-05s, .animSpeedRight.animate__fadeOutRight .animFadeIn.animate__zoomOut.animate-delay-05s, .animSpeedRight.animate__lightSpeedOutLeft.animate-delay-05s, .animSpeedRight.animate__lightSpeedOutRight.animate-delay-05s, .animSpeedRight.animate__flipOutX.animate-delay-05s, .animFlipX.animate__fadeOut.animate-delay-05s, .animFlipX.animate__fadeOutLeft.animate-delay-05s, .animFlipX.animate__fadeOutRight .animFadeIn.animate__zoomOut.animate-delay-05s, .animFlipX.animate__lightSpeedOutLeft.animate-delay-05s, .animFlipX.animate__lightSpeedOutRight.animate-delay-05s, .animFlipX.animate__flipOutX.animate-delay-05s, .animZoomIn.animate__fadeOut.animate-delay-05s, .animZoomIn.animate__fadeOutLeft.animate-delay-05s, .animZoomIn.animate__fadeOutRight .animFadeIn.animate__zoomOut.animate-delay-05s, .animZoomIn.animate__lightSpeedOutLeft.animate-delay-05s, .animZoomIn.animate__lightSpeedOutRight.animate-delay-05s, .animZoomIn.animate__flipOutX.animate-delay-05s, .animFadeIn.animate__fadeOutRight .animFadeInLeft.animate__zoomOut.animate-delay-05s, .animFadeInLeft.animate__fadeOutRight .animFadeInLeft.animate__zoomOut.animate-delay-05s, .animFadeInRight.animate__fadeOutRight .animFadeInLeft.animate__zoomOut.animate-delay-05s, .animSpeedLeft.animate__fadeOutRight .animFadeInLeft.animate__zoomOut.animate-delay-05s, .animSpeedRight.animate__fadeOutRight .animFadeInLeft.animate__zoomOut.animate-delay-05s, .animFlipX.animate__fadeOutRight .animFadeInLeft.animate__zoomOut.animate-delay-05s, .animZoomIn.animate__fadeOutRight .animFadeInLeft.animate__zoomOut.animate-delay-05s, .animFadeIn.animate__fadeOutRight .animFadeInRight.animate__zoomOut.animate-delay-05s, .animFadeInLeft.animate__fadeOutRight .animFadeInRight.animate__zoomOut.animate-delay-05s, .animFadeInRight.animate__fadeOutRight .animFadeInRight.animate__zoomOut.animate-delay-05s, .animSpeedLeft.animate__fadeOutRight .animFadeInRight.animate__zoomOut.animate-delay-05s, .animSpeedRight.animate__fadeOutRight .animFadeInRight.animate__zoomOut.animate-delay-05s, .animFlipX.animate__fadeOutRight .animFadeInRight.animate__zoomOut.animate-delay-05s, .animZoomIn.animate__fadeOutRight .animFadeInRight.animate__zoomOut.animate-delay-05s, .animFadeIn.animate__fadeOutRight .animSpeedLeft.animate__zoomOut.animate-delay-05s, .animFadeInLeft.animate__fadeOutRight .animSpeedLeft.animate__zoomOut.animate-delay-05s, .animFadeInRight.animate__fadeOutRight .animSpeedLeft.animate__zoomOut.animate-delay-05s, .animSpeedLeft.animate__fadeOutRight .animSpeedLeft.animate__zoomOut.animate-delay-05s, .animSpeedRight.animate__fadeOutRight .animSpeedLeft.animate__zoomOut.animate-delay-05s, .animFlipX.animate__fadeOutRight .animSpeedLeft.animate__zoomOut.animate-delay-05s, .animZoomIn.animate__fadeOutRight .animSpeedLeft.animate__zoomOut.animate-delay-05s, .animFadeIn.animate__fadeOutRight .animSpeedRight.animate__zoomOut.animate-delay-05s, .animFadeInLeft.animate__fadeOutRight .animSpeedRight.animate__zoomOut.animate-delay-05s, .animFadeInRight.animate__fadeOutRight .animSpeedRight.animate__zoomOut.animate-delay-05s, .animSpeedLeft.animate__fadeOutRight .animSpeedRight.animate__zoomOut.animate-delay-05s, .animSpeedRight.animate__fadeOutRight .animSpeedRight.animate__zoomOut.animate-delay-05s, .animFlipX.animate__fadeOutRight .animSpeedRight.animate__zoomOut.animate-delay-05s, .animZoomIn.animate__fadeOutRight .animSpeedRight.animate__zoomOut.animate-delay-05s, .animFadeIn.animate__fadeOutRight .animFlipX.animate__zoomOut.animate-delay-05s, .animFadeInLeft.animate__fadeOutRight .animFlipX.animate__zoomOut.animate-delay-05s, .animFadeInRight.animate__fadeOutRight .animFlipX.animate__zoomOut.animate-delay-05s, .animSpeedLeft.animate__fadeOutRight .animFlipX.animate__zoomOut.animate-delay-05s, .animSpeedRight.animate__fadeOutRight .animFlipX.animate__zoomOut.animate-delay-05s, .animFlipX.animate__fadeOutRight .animFlipX.animate__zoomOut.animate-delay-05s, .animZoomIn.animate__fadeOutRight .animFlipX.animate__zoomOut.animate-delay-05s, .animFadeIn.animate__fadeOutRight .animZoomIn.animate__zoomOut.animate-delay-05s, .animFadeInLeft.animate__fadeOutRight .animZoomIn.animate__zoomOut.animate-delay-05s, .animFadeInRight.animate__fadeOutRight .animZoomIn.animate__zoomOut.animate-delay-05s, .animSpeedLeft.animate__fadeOutRight .animZoomIn.animate__zoomOut.animate-delay-05s, .animSpeedRight.animate__fadeOutRight .animZoomIn.animate__zoomOut.animate-delay-05s, .animFlipX.animate__fadeOutRight .animZoomIn.animate__zoomOut.animate-delay-05s, .animZoomIn.animate__fadeOutRight .animZoomIn.animate__zoomOut.animate-delay-05s {
  animation-delay: 0s; }

.animBgPrice {
  opacity: 0;
  transform: scale(0); }
  .animBgPrice.animBgPriceIn {
    animation-name: animBgPriceIn;
    animation-duration: 0.6s;
    transition: all 0.2s linear;
    opacity: 1;
    transform: scale(0.9); }
  .animBgPrice.animBgPriceOut {
    animation-name: animBgPriceOut;
    animation-duration: 0.5s;
    transition: all 0.2s linear;
    opacity: 0;
    transform: scale(0);
    animation-delay: 0.3s; }

@keyframes animBgPriceIn {
  0% {
    opacity: 0;
    transform: scale(0); }
  80% {
    opacity: 0;
    transform: scale(0); }
  85% {
    opacity: 0.1;
    transform: scale(0.7); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes animBgPriceOut {
  0% {
    opacity: 1;
    transform: scale(1); }
  75% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 0;
    transform: scale(0.8); }
  100% {
    opacity: 0;
    transform: scale(0); } }
@media (min-width: 992px) {
  .animBgPrice {
    opacity: 0;
    transform: scale(0); }
    .animBgPrice.animBgPriceIn {
      animation-name: animBgPriceIn;
      animation-duration: 0.6s;
      transition: all 0.2s linear;
      opacity: 1;
      transform: scale(0.9) !important; }
    .animBgPrice.animBgPriceOut {
      animation-name: animBgPriceOut;
      animation-duration: 0.5s;
      transition: all 0.2s linear;
      opacity: 0;
      transform: scale(0);
      animation-delay: 0.3s; }

  @keyframes animBgPriceIn {
    0% {
      opacity: 0;
      transform: scale(0); }
    80% {
      opacity: 0;
      transform: scale(0); }
    85% {
      opacity: 0.1;
      transform: scale(0.7); }
    100% {
      opacity: 1;
      transform: scale(0.9); } }
  @keyframes animBgPriceOut {
    0% {
      opacity: 1;
      transform: scale(0.9); }
    75% {
      opacity: 1;
      transform: scale(0.9); }
    80% {
      opacity: 0;
      transform: scale(0.8); }
    100% {
      opacity: 0;
      transform: scale(0); } } }
@media (min-width: 1200px) {
  .animBgPrice {
    opacity: 0;
    transform: scale(0); }
    .animBgPrice.animBgPriceIn {
      animation-name: animBgPriceIn;
      animation-duration: 0.6s;
      transition: all 0.2s linear;
      opacity: 1;
      transform: scale(1) !important; }
    .animBgPrice.animBgPriceOut {
      animation-name: animBgPriceOut;
      animation-duration: 0.5s;
      transition: all 0.2s linear;
      opacity: 0;
      transform: scale(0);
      animation-delay: 0.3s; }

  @keyframes animBgPriceIn {
    0% {
      opacity: 0;
      transform: scale(0); }
    80% {
      opacity: 0;
      transform: scale(0); }
    85% {
      opacity: 0.1;
      transform: scale(0.7); }
    100% {
      opacity: 1;
      transform: scale(1); } }
  @keyframes animBgPriceOut {
    0% {
      opacity: 1;
      transform: scale(1); }
    75% {
      opacity: 1;
      transform: scale(1); }
    80% {
      opacity: 0;
      transform: scale(0.8); }
    100% {
      opacity: 0;
      transform: scale(0); } } }
#container-draw-1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0px; }
  #container-draw-1 #firstLottie {
    transform: scale(0.6) translateY(-30%); }

#container-draw-2 {
  position: absolute;
  bottom: -70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  left: 20px; }
  #container-draw-2 #secondLottie {
    transform: translateX(-45px) translateY(15px) rotate(75deg) scale(0.6); }

#container-draw-3 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  bottom: -65px;
  position: absolute; }
  #container-draw-3 #threeLottie {
    transform: translateX(15px) translateY(10px) scale(0.6) rotate(77deg); }

#container-draw-4 {
  position: absolute;
  bottom: -125px;
  width: 100%;
  display: flex;
  justify-content: center; }
  #container-draw-4 #fourLottie {
    transform: scale(0.6) rotate(320deg); }

#container-draw-5 {
  width: 100%;
  display: flex;
  justify-content: flex-end; }
  #container-draw-5 #fiveLottie {
    transform: scale(0.8) translateY(-20px) rotate(-15deg); }

#container-draw-6 {
  position: absolute;
  top: 28%;
  display: flex;
  justify-content: flex-end;
  width: 100%; }
  #container-draw-6 #sixLottie-mob {
    transform: translateY(0px) translateX(-5%) rotate(455deg) rotateZ(-45deg) rotateX(170deg) rotateY(130deg) scale(0.6); }

#container-draw-7 {
  position: absolute;
  top: -113px;
  width: 100%;
  justify-content: center;
  left: 45px; }
  #container-draw-7 #sevenLottie {
    transform: scaleX(0.6) scaleY(0.8); }

#container-draw-8 #eightLottie {
  transform: scale(0.6) translateY(-5%) rotate(315deg); }

#container-draw-9 #nineLottie {
  transform: scale(0.6); }

#container-draw-10 {
  max-width: 100%; }
  #container-draw-10 #tenLottie {
    transform: scale(0.6) translateX(75%) rotate(-25deg); }

#container-draw-11 {
  position: absolute;
  left: 50%;
  top: -75px;
  max-width: 100%; }
  #container-draw-11 #elevenLottie {
    transform: scale(0.6) translateX(-190%) rotate(30deg); }

#container-draw-12 #twelveLottie {
  transform: scale(0.6); }

#container-draw-12-2 {
  width: 50px;
  margin: 0 auto 15px auto; }
  #container-draw-12-2 #twelve2Lottie {
    transform: scale(0.6);
    width: 100% !important; }

@media (min-width: 430px) {
  #container-draw-6 {
    display: flex;
    justify-content: center;
    width: 100%; } }
/*@media (min-width:576px) {
    #container-draw-2 {
        #secondLottie { 
            transform: translateX(-45px) translateY(25px) rotate(45deg) scale(0.9); }

    }

    #container-draw-5 {
        #fiveLottie {
            transform:scale(0.8) translateY(-30px) rotate(-20deg);
        }
    }
}*/
/*@media (min-width:768px) {

#container-draw-1 {
     right: 105px;
    }

    #container-draw-3 {
        #threeLottie { 
        transform:translateX(-5vw) translateY(5vw) scale(0.8) rotate(77deg);
        } }

    #container-draw-4 {
        #fourLottie {
            transform:translateY(-25%) scale(0.85) rotate(320deg);
        }
    }
#container-draw-5 #fiveLottie {
    transform: scale(0.8) translateY(0px) rotate(0deg);
} 

    #container-draw-7 {
    left:45px;
    top: -110px;
    width: 100%;
    justify-content: center;


    }
}

*/
@media (min-width: 768px) {
  #container-draw-1 {
    width: 60%; }

  #container-draw-4 {
    position: absolute;
    bottom: -150px; } }
@media (min-width: 992px) {
  #container-draw-1 {
    width: 45%;
    top: -70px;
    right: 60%; }
    #container-draw-1 #firstLottie {
      transform: scale(1) translateY(0%); }

  #container-draw-2 {
    left: 70%;
    bottom: -170px;
    position: absolute;
    top: auto; }
    #container-draw-2 #secondLottie {
      transform: translateX(0px) translateY(0px) rotate(0deg) scale(1); }

  #container-draw-3 {
    left: 50%;
    position: absolute;
    top: 40px;
    bottom: auto; }
    #container-draw-3 #threeLottie {
      transform: translateX(0%) translateY(0px) scale(1) rotate(0deg); }

  #container-draw-4 {
    position: absolute;
    width: 100%;
    bottom: -180px; }
    #container-draw-4 #fourLottie {
      transform: translateY(0) scale(1) rotate(0deg); }

  #container-draw-5 {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: -27%;
    left: 0px; }
    #container-draw-5 #fiveLottie {
      transform: scale(1) translateY(0px) rotate(0deg); }

  #container-draw-6 {
    top: 40%;
    width: 70%; }
    #container-draw-6 #sixLottie {
      transform: translateY(0px) translateX(0%) rotate(8deg) scale(1); }

  #container-draw-7 {
    top: -100px; }
    #container-draw-7 #sevenLottie {
      transform: scale(1); }

  #container-draw-8 #eightLottie {
    transform: translateY(-45%) rotate(0deg); }

  #container-draw-9 {
    position: relative;
    top: 90px; }
    #container-draw-9 #nineLottie {
      transform: scale(1) translateX(0px); }

  #container-draw-10 #tenLottie {
    transform: scale(1) translateY(-80px) rotate(0deg); }

  #container-draw-11 {
    position: relative;
    left: 0px;
    top: 0px; }
    #container-draw-11 #elevenLottie {
      transform: scale(1) translateY(-80px) rotate(0deg); }

  #container-draw-12 #twelveLottie {
    transform: scale(1); }

  #container-draw-12-2 {
    width: 45px; }
    #container-draw-12-2 #twelve2Lottie {
      transform: scale(1);
      width: auto !important; } }
#balanceTwo {
  height: 100%; }
  #balanceTwo #balanceLottieTwo {
    max-width: 100%;
    height: 100% !important;
    width: auto !important; }

@media (min-width: 1200px) {
  #container-draw-5 {
    justify-content: center;
    width: 65%; }

  #container-draw-6 {
    top: 45%; }
    #container-draw-6 #sixLottie {
      transform: translateY(0px) translateX(0%) rotate(0deg) scale(1); }

  #container-draw-9 #nineLottie {
    transform: scale(1) translateX(0px); } }
