.card-description {
    margin-left: -20px;
    padding-bottom: 15px;
}

.ariane-card-title {
    font-size: 17px;
}

.ariane-card-value {
    margin-top: -12px;
    font-size: 17px;
}


.visible-title {
    position: fixed;
    top: 118px;
    z-index: 5000;
    margin-bottom: 0px;
    font-weight: 600;
}

.container.headline {
    width: 100%;
    height: auto;  
    max-width: 1350px;
}

.main-container {
    font-family: 'Quicksand', sans-serif;
}

img {
    max-width: 100%;
}
  
a {
    color: #464646;
}
a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    background: linear-gradient(170deg, #F0F1F6 0%, #FCFCFC 100%);
    font-family: 'Quicksand', sans-serif;
    background-attachment: fixed;
    padding-top: 85px;
}
  
@media (min-width: 992px) {
    body {
        padding-top: 120px; }
}

h1 {
    color: #D40A36;
    font-size: 24px;
    font-weight: 500;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

b, strong {
    font-weight: 600;
}

p {
    font-size: 14px;
    line-height: 19px;
}

hr {
    border-color: #B4B5BF;
}

.txt-large {
    font-size: 17px;
    line-height: 22px;
}

.headline {
    margin: 30px auto;
}

.bg-purple-dark {
    background: #5E338C !important;
}

.bg-purple-flash {
    background: #CD00CB !important;
}

.bg-pink {
    background: #FF008E !important;
}

.bg-red-flash {
    background: #FF3900 !important;
}

.bg-yellow {
    background: #EA973E !important;
}

.cards.graph-1 {
    margin-top: 0px;
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1350px;
    }
}

.btn-primary {
    background-color: #D40A36;
    border-width: 0px;
    padding: 5px 15px;
    width: 250px;
    border-radius: 50px;
    font-size: 11px;
    font-weight: 600;
    min-height: 35px;
    max-width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary:after {
    content: "";
    background-color: #D40A36 !important;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    z-index: -1;
    transform-origin: bottom;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary .btn-secondary:not(:disabled):not(.disabled):active:focus {
    background-color: transparent !important;
    border-width: 0px;
    border-radius: 50px;
    box-shadow: none;
    box-shadow: none !important;
}

.btn-primary:hover:after, .btn-primary:active:after, .btn-primary:focus:after, .btn-primary:not(:disabled):not(.disabled):active:after, .btn-primary .btn-secondary:not(:disabled):not(.disabled):active:focus:after {
    animation-name: boingHover;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    transform: scale(1) translateY(0px);
}

@keyframes boingHover {
    25% {
        transform: scale(0.9) translateY(-1px) translateX(-1px);
    }
    50% {
        transform: scale(1.1) translateY(2px) translateX(1px);
    }
    100% {
        transform: scale(1) translateY(0px) translateX(0px);
    }
}

.btn-group, .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    background: #c3c4cd;
    border-radius: 50px !important;
    width: 180px;
}
.btn-group .btn-secondary, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary, .btn-group > .btn:not(:first-child) .btn-secondary, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary {
    background: #c3c4cd;
    color: #464646;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 15px;
    outline: 0;
    box-shadow: none;
}
.btn-group .btn-secondary:hover, .btn-group .btn-secondary:active, .btn-group .btn-secondary:focus, .btn-group .btn-secondary:not(:disabled):not(.disabled):active, .btn-group .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-group .btn-secondary.focus, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary:hover, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary:active, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary:focus, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary:not(:disabled):not(.disabled):active, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-group > .btn-group:not(:first-child) > .btn .btn-secondary.focus, .btn-group > .btn:not(:first-child) .btn-secondary:hover, .btn-group > .btn:not(:first-child) .btn-secondary:active, .btn-group > .btn:not(:first-child) .btn-secondary:focus, .btn-group > .btn:not(:first-child) .btn-secondary:not(:disabled):not(.disabled):active, .btn-group > .btn:not(:first-child) .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-group > .btn:not(:first-child) .btn-secondary.focus, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary:hover, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary:active, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary:focus, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary:not(:disabled):not(.disabled):active, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-group > .btn-group:not(:last-child) > .btn .btn-secondary.focus, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary:hover, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary:active, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary:focus, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary:not(:disabled):not(.disabled):active, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) .btn-secondary.focus {
    background: #D40A36 !important;
    color: white;
    border: none !important;
    box-shadow: none !important;
    outline: none;
    border-color: transparent !important;
}
  
.btn-secondary.active, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    background: #D40A36 !important;
    color: white;
    border: none !important;
    box-shadow: none;
    outline: none;
    border-color: transparent !important;
}
  
.btn-secondary {
    background: white;
    text-transform: uppercase;
    color: #464646;
    padding: 10px 17px;
    border: 1px solid rgba(180, 181, 191, 0.2);
    border-radius: 50px;
    font-size: 12px;
    position: relative;
    z-index: 0;
}

.btn-secondary:after {
    content: "";
    background-color: transparent !important;
    border: 1px solid rgba(180, 181, 191, 0.2);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    z-index: -1;
    transform-origin: bottom;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:focus-visible, .btn-secondary:focus, .btn-secondary:visited, .btn-secondary .btn.focus, .btn-secondary .btn:focus {
    background-color: transparent !important;
    border-width: 0px;
    border-radius: 50px;
    box-shadow: none !important;
    color: #464646;
    border: 1px solid transparent;
    outline: none;
}

.btn-secondary:hover:after, .btn-secondary:active:after, .btn-secondary:focus:after, .btn-secondary:not(:disabled):not(.disabled):active:after, .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus:after, .btn-secondary:focus-visible:after, .btn-secondary:focus:after, .btn-secondary:visited:after, .btn-secondary .btn.focus:after, .btn-secondary .btn:focus:after {
    animation-name: boingHover;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    transform: scale(1) translateY(0px);
}
  
@media (min-width: 576px) {
    .btn-group, .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
        width: 200px;
    }
}

.custom-select select.form-control {
    width: 120px;
    border: 0;
    position: absolute;
    z-index: 99;
    background: none;
    top: 0px;
    font-weight: 600;
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #464646;
    background-image: none;
    cursor: pointer;
}

.custom-select select.form-control:focus {
    outline: none;
}

.custom-select:after {
    width: 8px;
    height: 8px;
    border-top: 2px solid #d40a36;
    border-right: 2px solid #d40a36;
    position: absolute;
    top: 50%;
    right: 15px;
    content: "";
    z-index: 50;
    display: block;
    background: transparent;
    transform: translateY(-50%) rotate(135deg);
}

.custom-selectOne {
    position: relative;
}
  
.custom-selectOne select {
    display: none;
    /*hide original SELECT element:*/
}
  
.select-selected {
    width: 90px;
    border-radius: 30px;
    text-align: center;
    font-weight: 600;
    background: white;
    display: flex;
    font-size: 15px;
}
  
/*style the arrow inside the select element:*/
.select-selected:after {
    width: 8px;
    height: 8px;
    border-top: 2px solid #d40a36;
    border-right: 2px solid #d40a36;
    position: absolute;
    top: 50%;
    right: 15px;
    content: "";
    z-index: 50;
    display: block;
    background: transparent;
    transform: translateY(-50%) rotate(135deg);
}
  
/*point the arrow upwards when the select box is open (active):*/
/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    color: #464646;
    text-align: center;
    font-weight: 600;
}
  
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 2px 14px 0 rgba(163, 172, 185, 0.2);
    border-radius: 5px;
}

.select-items div {
    border: none;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
  
.box-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
  
@media (min-width: 768px) {
    .box-options {
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .sticky_filter {
        position: sticky;
        top: 100px;
        z-index: 800;
        padding: 15px 0px;
    }
    .sticky_filter.sticky-scroll {
        background: #E4E5EB;
        width: 100vw;
        position: fixed;
        left: 0px;
        top: 90px;
        transition: all 0.3s linear;
        max-width: 100%;
        padding: 20px 0px;
    }
    .sticky_filter.sticky-scroll .sticky-hidden {
        display: none;
    }
    .sticky_filter.sticky-scroll .box-options {
        padding-right: 15px;
    }
    .sticky_filter.sticky-scroll .sticky-row {
        justify-content: flex-end;
        padding-right: 15px;
    }
    .sticky_filter.sticky-scroll .sticky-box-options {
        display: flex;
        justify-content: flex-end;
    }
    .sticky_filter.sticky-scroll .sticky-box-options .box-options {
        min-width: 330px;
        padding-right: 15px;
        width: 330px;
    }
}

h1.sticky-title {
    display: none;
}

@media (min-width: 992px) {
    h1.sticky-title {
        display: block;
        position: fixed;
        left: 15%;
        top: 118px;
        z-index: 801;
        margin-bottom: 0px;
    }
}

@media (min-width: 1400px) {
    .sticky_filter.sticky-scroll .sticky-row {
        padding-right: calc((100% - 1350px)/2);
    }
}

.accordion .card {
    background: transparent;
    border: none;
}
.accordion .card .card-header {
    background: transparent;
    border: none;
}
.accordion .card .card-body {
    padding-top: 0px;
    font-size: 14px;
}
.accordion .card.first-accordion.card-header {
    padding: 0px;
}
.accordion .card.first-accordion.card-header .btn-collapse.first-collapse:after {
    display: none;
}

.btn-collapse, .last-collapse, .btn-collapse:not(:disabled):not(.disabled), .btn-collapse:hover {
    text-decoration: none !important;
    background-color: white !important;
    width: 100%;
    color: #464646;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 14px 0 rgba(163, 172, 185, 0.2);
    padding: 10px 25px;
    padding-left: 50px;
    min-height: 35px;
    border-radius: 50px;
    position: relative;
    border: 1px solid rgba(180, 181, 191, 0.2);
}

.btn-collapse .title-collapse, .last-collapse .title-collapse, .btn-collapse:not(:disabled):not(.disabled) .title-collapse, .btn-collapse:hover .title-collapse {
    font-size: 12px;
    max-width: 55%;
    text-align: left;
}

.btn-collapse .infos-bulle, .last-collapse .infos-bulle, .btn-collapse:not(:disabled):not(.disabled) .infos-bulle, .btn-collapse:hover .infos-bulle {
    position: absolute;
    background: white;
    box-shadow: 0 2px 14px 2px rgba(163, 172, 185, 0.25);
    top: -5px;
    left: 0px;
    z-index: 8;
    transform: translateY(-100%);
    font-size: 11px;
    padding: 7px;
    border-radius: 7px;
    width: 100%;
    text-align: left;
}

.btn-collapse .budget, .last-collapse .budget, .btn-collapse:not(:disabled):not(.disabled) .budget, .btn-collapse:hover .budget {
    font-size: 11px;
}

.btn-collapse:hover, .btn-collapse:focus, .btn-collapse:active, .btn-collapse:focus-within, .btn-collapse:focus-visible, .btn-collapse:not(:disabled):not(.disabled).active, .btn-collapse.show > .btn-primary.dropdown-toggle, .btn-collapse:not(:disabled):not(.disabled), .last-collapse:hover, .last-collapse:focus, .last-collapse:active, .last-collapse:focus-within, .last-collapse:focus-visible, .last-collapse:not(:disabled):not(.disabled).active, .last-collapse.show > .btn-primary.dropdown-toggle, .last-collapse:not(:disabled):not(.disabled), .btn-collapse:not(:disabled):not(.disabled):hover, .btn-collapse:not(:disabled):not(.disabled):focus, .btn-collapse:not(:disabled):not(.disabled):active, .btn-collapse:not(:disabled):not(.disabled):focus-within, .btn-collapse:not(:disabled):not(.disabled):focus-visible, .btn-collapse:not(:disabled):not(.disabled):not(:disabled):not(.disabled).active, .btn-collapse:not(:disabled):not(.disabled).show > .btn-primary.dropdown-toggle, .btn-collapse:not(:disabled):not(.disabled):not(:disabled):not(.disabled), .btn-collapse:hover:hover, .btn-collapse:hover:focus, .btn-collapse:hover:active, .btn-collapse:hover:focus-within, .btn-collapse:hover:focus-visible, .btn-collapse:hover:not(:disabled):not(.disabled).active, .btn-collapse:hover.show > .btn-primary.dropdown-toggle, .btn-collapse:hover:not(:disabled):not(.disabled) {
    background-color: white !important;
    box-shadow: 0 2px 14px 0 rgba(163, 172, 185, 0.2) !important;
    color: #464646 !important;
    border: none;
    outline-offset: 0px;
    outline: none;
    border: 1px solid rgba(180, 181, 191, 0.3);
}

.btn-collapse:before, .last-collapse:before, .btn-collapse:not(:disabled):not(.disabled):before, .btn-collapse:hover:before {
    content: "-";
    display: block;
    width: 25px;
    height: 25px;
    background: #F0F2F3;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.btn-collapse.collapsed:before, .last-collapse.collapsed:before, .btn-collapse:not(:disabled):not(.disabled).collapsed:before, .btn-collapse:hover.collapsed:before {
    content: "+";
    display: block;
    width: 25px;
    height: 25px;
    background: #F0F2F3;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.btn-collapse:after, .last-collapse:after, .btn-collapse:not(:disabled):not(.disabled):after, .btn-collapse:hover:after {
    content: "";
    width: 15px;
    height: 100%;
    border-bottom: 1px solid #B4B5BF;
    display: block;
    border-left: 1px solid #B4B5BF;
    position: absolute;
    top: 0px;
    left: -15px;
    transform: translateY(-50%);
    z-index: -1;
}
  
.fil-ariane .collapse, .fil-ariane .collapsing {
    margin-left: 15px;
}

.info-collapse {
    font-size: 13px;
    margin-bottom: 30px;
}
  
.display-p p:first-child {
    display: none;
}
  
@media (max-width: 380px) {
    .btn-collapse, .last-collapse, .btn-collapse:not(:disabled):not(.disabled), .btn-collapse:hover {
        display: flex;
        flex-direction: column;
    }

    span, .title-collapse {
        width: 100%;
        max-width: 100% !important;
    }
}

.last-collapse {
    padding-left: 30px;
}

.last-collapse:before {
    display: none;
}
  
.progress-box {
    display:flex;
    align-items: center;
    margin: 15px auto 30px auto;
}

.progress-box .progress {
    flex: 1;
    height: 4px;
    background: transparent;
    overflow: visible;
}

.progress-box .progress .progress-bar {
    
    position: relative;
    overflow: visible;
}

.progress-box .progress .progress-bar:after {
    content: attr(aria-valuenow) "%";
    position: absolute;
    right: -40px;
    color: #464646;
    width: 35px;
}
  
.truncate {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
}
  
.ele-clone {
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
}
  
.cards {
    box-shadow: 0 2px 14px 0 rgba(163, 172, 185, 0.2);
    border-radius: 15px;
    padding: 20px;
    background: white;
    margin: 25px 0px;
}

.cards .content-cards {
      font-size: 16px;
}

h2.title-cards, p.txt-large {
        text-transform: uppercase;
        font-size: 18px;
}
.txt-large-lowcase{
    font-size: 18px;
}

.cards .img-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px auto;
      position: relative;
}

.graph-1 .btn-graph-1 {
    height: 97px;
    width: 97px;
    background-color: rgba(180, 181, 191, 0.2);
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgba(180, 181, 191, 0.2);
    position: absolute;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
}

.graph-1 .btn-graph-1 svg {
    margin-bottom: 5px;
}

.graph-1 .img-cards img {
    width: 100%;
}

.graph-table table {
    font-size: 12px;
    width: 100%;
}

.graph-table table tr th, .graph-table table tr td {
    width: 100%;
}

.graph-table table thead {
    font-weight: 400;
}

.graph-table table thead tr th:nth-child(2), .graph-table table thead tr th:nth-child(3) {
    display: none;
}

.graph-table table thead tr:first-child {
    background: #D40A36;
    color: white;
}

.graph-table table thead tr:first-child th {
    padding: 12px 15px;
}

.graph-table table thead tr:first-child th .box-filter {
    display: flex;
    justify-content: space-between;
}

.graph-table table thead tr:first-child th .box-filter .filter {
    display: flex;
}

.graph-table table thead tr:first-child th .box-filter .filter .arrow-bottom {
    position: relative;
    top: 3px;
}

.graph-table table thead tr:first-child th .box-filter .filter .arrow-top {
    position: relative;
    bottom: 3px;
}

.graph-table table thead tr:last-child th.search-box {
    position: relative;
    height: 45px;
}

.graph-table table thead tr:last-child th.search-box input.form-control {
    border: none;
    border-radius: 50px;
    background: #F0F2F3;
    position: absolute;
    width: 100%;
    top: 15%;
    height: 70%;
    font-size: 11px;
}

.graph-table table thead tr:last-child th.search-box input.form-control:focus {
    box-shadow: none !important;
}

.graph-table table thead tr:last-child th.search-box button {
    position: absolute;
    right: 15px;
    top: 50%;
    border: none;
    background-color: transparent;
    margin: 0px !important;
    transform: translateY(-50%);
    height: 70%;
    padding: 0px;
    padding-bottom: 5px;
}

.graph-table table thead tr:last-child th.search-box button:hover, .graph-table table thead tr:last-child th.search-box button:focus, .graph-table table thead tr:last-child th.search-box button:active, .graph-table table thead tr:last-child th.search-box button:focus {
    border: none;
    background-color: transparent;
    box-shadow: none !important;
}

.graph-table table tbody tr {
    border-top: 1px solid #c3c4cd;
    display: flex;
    flex-flow: row wrap;
    padding: 5px 0px;
}
.graph-table table tbody tr td p {
    margin-bottom: 0px;
    font-size: 11px;
}

.graph-table table tbody tr td:first-child, .graph-table table tbody tr td:nth-child(2) {
    width: 60%;
    max-width: 100%;
}

.graph-table table tbody tr td:first-child p, .graph-table table tbody tr td:nth-child(2) p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-width: 200px;
}

.graph-table table tbody tr td:last-child {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
}

.graph-table table tbody tr:last-child {
    border-bottom: 1px solid #c3c4cd;
}

.graph-1, .graph-2, .graph-table {
    padding: 35px;
    border-radius: 0px;
}
  
@media (min-width: 576px) {
    .cards {
        padding: 25px;
    }

    .graph-1, .graph-2, .graph-table {
      padding: 45px;
      border-radius: 25px;
    }
}

@media (min-width: 992px) {
    .graph-table table {
        font-size: 12px;
        width: 100%;
    }
    .graph-table table thead tr th:nth-child(2), .graph-table table thead tr th:nth-child(3) {
        display: table-cell;
    }
    .graph-table table thead tr:last-child th.search-box input.form-control {
        left: 2.5%;
        width: 95%;
        margin: 0px !important;
    }
    .graph-table table thead tr th:first-child, .graph-table table thead tr th:nth-child(2), .graph-table table thead tr td:first-child, .graph-table table thead tr td:nth-child(2), .graph-table table tbody tr th:first-child, .graph-table table tbody tr th:nth-child(2), .graph-table table tbody tr td:first-child, .graph-table table tbody tr td:nth-child(2) {
        width: 35%;
    }
    .graph-table table thead tr th:last-child, .graph-table table thead tr td:last-child, .graph-table table tbody tr th:last-child, .graph-table table tbody tr td:last-child {
        width: 30%;
        display: table-cell;
    }
    .graph-table table tbody tr {
        display: table-row;
        width: 100%;
    }
    .graph-table table tbody tr td {
        padding: 5px;
    }
}

header {
    background: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    margin: 0px;
}

header .navbar-brand {
    margin-right: 15px;
}

header .navbar-light .navbar-toggler {
    border-color: transparent;
    background: #D40A36;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

header .navbar-light .navbar-toggler .navbar-toggler-icon {
    transition: all 0.3s linear;
    width: 20px;
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    height: 2px;
    background: white;
}

header .navbar-light .navbar-toggler .navbar-toggler-icon:first-child {
    transform: translateY(1px) translateX(3px) rotate(45deg);
}

header .navbar-light .navbar-toggler .navbar-toggler-icon:nth-child(2) {
    opacity: 0px;
    width: 0px;
}

header .navbar-light .navbar-toggler .navbar-toggler-icon:last-child {
    transform: translateY(-3px) translateX(2px) rotate(-45deg);
}

header .navbar-light .navbar-toggler.collapsed {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .navbar-light .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: none;
    width: 20px;
    height: 2px;
    background-color: white;
    margin-bottom: 6px;
    display: block;
    transform: translateY(0px) translateX(0px) rotate(0deg);
}

header .navbar-light .navbar-toggler.collapsed .navbar-toggler-icon:last-child {
    margin-bottom: 0px;
}

header nav li a {
    font-size: 13px;
    font-weight: 600;
    color: #464646 !important;
    padding: 15px 5px !important;
}

header nav .navbar-collapse {
    background: white;
}

.nav-box {
    display: none;
}
  
@media (min-width: 992px) {
    header .navbar-light .navbar-toggler, header .navbar-light .navbar-toggler.collapsed {
        display: none;
    }
    header nav.navbar {
        transition: all 0.3s linear;
        height: 120px;
    }
    header nav.navbar.navbar-slim {
        height: 95px;
    }
    header nav.navbar .navbar-nav li a {
        position: relative;
        margin: 0px 1rem 0px 0px !important;
        padding: 0px !important;
        padding-bottom: 10px !important;
        transition: all 0.3s linear;
    }
    header nav.navbar .navbar-nav li a:after {
        content: "";
        background-color: #D40A36;
        width: 50px;
        height: 2px;
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        transition: all 0.3s linear;
    }
    header nav.navbar .navbar-nav li a:hover:after {
        width: 100%;
    }
    header nav.navbar .navbar-nav li.active a {
        text-shadow: 0 0 0.35px #464646, 0 0 0.35px #464646;
    }
    header nav.navbar .navbar-nav li.active a:after {
        width: 100%;
    }
    header nav.navbar .nav-box {
        position: absolute;
        right: 0px;
        display: flex;
        flex-direction: row;
        width: 32vw;
        align-items: center;
        background: #156fa8;
        color: white;
        justify-content: space-between;
        padding: 5px 25px;
        border-radius: 30px 0px 0px 30px;
    }
    header nav.navbar .nav-box p {
        margin-bottom: 0px;
        font-size: 12px;
        width: 50%;
        max-width: 140px;
    }
    header nav.navbar .nav-box .img-nav-box img {
        max-width: 130px;
    }
}

@media (min-width: 1095px) {
    header nav.navbar .navbar-brand {
        margin-right: 1.5rem;
    }
    header nav .nav-box {
        padding: 8px 35px;
    }
}

@media (min-width: 1200px) {
    header nav.navbar .navbar-nav li a {
        margin: 0px 1rem 0px 0px !important;
        padding: 15px 0rem !important;
    }
    header nav.navbar .nav-box {
        width: auto;
        padding-right: calc(((100% - 1350px)/2) + 15px);
    }
    header nav.navbar .nav-box .img-nav-box {
        margin-left: 2vw;
    }
    header nav.navbar .nav-box .img-nav-box img {
        max-width: 150px;
    }
}

footer {
    padding-bottom: 60px;
}

footer .link-footer {
    font-size: 13px;
    font-weight: 600;
    padding-top: 10px;
}

footer .link-footer a {
    margin: auto 5px;
}


.long-arrow-left{
    display: block;
    
    width: 12px;
    height: 12px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    transform: rotate(-45deg);
}

.long-arrow-left::after{
content: "";
display: block;
width: 1px;
height: 15px;
background-color: black;
transform: rotate(-45deg) translate(5px, 2px);
left: 0;
top: 0;
}