.card-rounded.ca-transparence {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.card-rounded.ca-transparence p:first-child {
    margin-bottom: 0.5rem;
}

.transparence #balanceOne img {
    width: auto;
}

.transparence .text>.card-rounded {
    padding-left: 33%;
    padding-top: 40px;
}


@media (min-width: 768px) {

    .duble-buble .buble-col-2 .buble {
        right: -4%;
    }
}

.duble-buble  {
    .buble-col-3 .buble{ 
        top: 100px;
        min-height: 320px;
        right: 12%;

        .txt-buble {
            max-width: 60%;
            transform: translateY(-55%) translateX(-6%);
        }
    }
}
