// Scss Document

.cards {
	box-shadow: $shadow-box; 
	border-radius: $radius;
	padding:20px;
	background: white;
	margin: 25px 0px;
	.content-cards {
		font-size: 16px;
		h2.title-cards {
			text-transform: uppercase;
			font-size: 18px;
		}
		
		 }
	.img-cards {
		    display: flex;
			justify-content: center;
			align-items: center;
			margin: 30px auto;
			position:relative;
		}
	
	
}
 

//// GRAPH 1 ////

.graph-1 {
	.btn-graph-1 {
		svg {
			margin-bottom:5px;
		}
		
		height: 97px;
  		width: 97px;
		background-color: rgba(180,181,191,0.2);
		position: absolute;
		height: 100px;
		width: 100px;
		background-color: rgba(180, 181, 191, 0.2);
		position: absolute;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		font-size: 11px;
		font-weight: 500;
		text-transform: uppercase;
		top:50%;
		transform: translateY(-50%);
	}
	
	.img-cards {
		  
		
		img {
			width: 100%;
		}
	}
}

//// TABLEAU //// 


.graph-table {
	table {
		font-size:12px;
		width:100%;
		
		tr {
			th,td {
				width:100%;
				
				
			}
		}
		
		thead {
			font-weight: 400;
			tr {
				th {
				&:nth-child(2), &:nth-child(3) {
					display:none;
				}
				} }
			tr:first-child {
				background: $primary-color;
				color: white;  
				
				th {
					padding:12px 15px;
					
					.box-filter {
						display: flex;
    					justify-content: space-between;
						
					.filter	{
							display: flex;
						
						.arrow-bottom {
							position:relative;
							top:3px;
							
						}
						.arrow-top {
							position:relative;
							bottom:3px;
						}
						}
					}
					
				}
				
				}
					
			
		
			tr:last-child {
				th.search-box {
				position: relative;
				height: 45px;
   								
									
					input.form-control {
						    border: none;
							border-radius: 50px;
							background: $grey-light;
							position: absolute;
							width: 100%;
			 				top: 15%;
							height: 70%;
						    font-size: 11px;

						&:focus {
							box-shadow: none!important;
						}
					}
					
					button {
						    position: absolute;
							right: 15px;
							top: 50%;
							border: none;
							background-color: transparent;
							margin: 0px!important;
							transform: translateY(-50%);
						    height: 70%;
							padding: 0px;
							padding-bottom: 5px;
						
						&:hover, &:focus, &:active, &:focus {
							border:none;
							background-color: transparent;
							box-shadow: none!important; 
						}
					}
				}
			}
		}
		
		tbody {
			tr {
				border-top: 1px solid $grey;
				display: flex;
				flex-flow: row wrap;
				padding: 5px 0px;
				
				td {
					p {
						margin-bottom: 0px;
						font-size:11px;
					}
					&:first-child, &:nth-child(2) {
						width: 60%;
						max-width: 100%;
					
						p {
							display: -webkit-box;
    					-webkit-box-orient: vertical;
    					-webkit-line-clamp: 1;
							overflow: hidden;
							max-width: 200px;
						} }
					&:last-child {
						    width: 40%;
							display: flex;
							align-items: center;
							justify-content: flex-end;
						    max-width: 100%;
					}
				}
				
				&:last-child {
					border-bottom: 1px solid $grey;
				}
			}
		}
	}
	
}


.graph-1, .graph-2, .graph-table {
	padding: 35px;
	border-radius: 0px;
}

@media (min-width:576px) {
	
	.cards {
		padding: 25px;
	}
	.graph-1, .graph-2, .graph-table {
	padding: 45px;
	border-radius: 25px;
}
	
}

@media (min-width:992px) { 
	
.graph-table {
	table {
		font-size:12px;
		width:100%;
		thead {
			
			tr {
				th {
				&:nth-child(2), &:nth-child(3) {
					display:table-cell;
				}
				} 
				&:last-child {
					    
					th.search-box {
						input.form-control {
							left: 2.5%;
							width: 95%;
							margin: 0px!important;
						
						
				}
						
				}
			}  
			}
		
		}
		
		thead, tbody {	
			tr {
			
			th,td {
				&:first-child, &:nth-child(2) {
					width:35%;
					
				}
				
				&:last-child {
					width: 30%;
					display: table-cell;
					
				}
				
			}
			} }
		
		tbody {
			tr {
				
			display: table-row;
    		width: 100%;
				
				td {
					padding: 5px;
				}
			
			}
		}
	}}
} 