// Scss Document

//BTN//


.btn-primary {
	background-color: $primary-color;
	border-width: 0px;
	padding: 5px 15px; 
    width: 250px;
	border-radius: $radius-btn;
	font-size: 11px;
    font-weight: 600;
    min-height: 35px;
	max-width: 100%;
	position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	
	
	&:after {
			content: "";
			background-color: $primary-color!important;
			width: 100%;
			height:100%;
			display: block;
			position: absolute;
			top: 0px;
			left:0px;
			border-radius:$radius-btn;
			z-index: -1;
			transform-origin: bottom;
		  
		
		}
	
	&:hover, &:active, &:focus, &:not(:disabled):not(.disabled):active,  .btn-secondary:not(:disabled):not(.disabled):active:focus  {
		background-color: transparent!important;
		border-width: 0px;
		border-radius:$radius-btn; 
		box-shadow: none;
		box-shadow: none!important; 
		
		&:after {
			animation-name : boingHover;
			animation-duration: 0.8s;
			animation-iteration-count: 1;
			animation-timing-function: ease-in-out;
			transform: scale(1) translateY(0px);
		}
		
		
	}
	
}


@keyframes boingHover {
  25% {
    transform: scale(.9) translateY(-1px) translateX(-1px);
  }
	50% {
    transform: scale(1.1) translateY(2px) translateX(1px);
  }

  100% {
    transform: scale(1) translateY(0px) translateX(0px);
  }
}



.btn-group, .btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child), .btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
	background : $grey;
	border-radius: $radius-btn!important;
    width:  180px;
	
	.btn-secondary {
		background : $grey;
		color:$dark;
		border-radius: $radius-btn;
		border:none;
		text-transform: uppercase;
		font-size:12px;
		font-weight:600;
		padding: 10px 15px;
		outline:0;
		box-shadow: none;
		
			&:hover, &:active, &:focus, &:not(:disabled):not(.disabled):active,  .btn-secondary:not(:disabled):not(.disabled):active:focus, &.focus {
			background: $primary-color!important;
			color:white;
			border:none!important;
			box-shadow: none!important;
			outline: none;
			border-color: transparent!important;
			
		}
		
	}
}
 
.btn-secondary.active,  .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
			background: $primary-color!important;
			color:white;
			border:none!important;
			box-shadow: none;
			outline: none;
			border-color: transparent!important;
		}

.btn-secondary {
	background:white;
	text-transform:uppercase;
	color: $dark;
	padding: 10px 17px;
	border: 1px solid rgba(180,181,191,0.2);
  	border-radius: $radius-btn;
	font-size: 12px;
	position: relative;
	    z-index: 0;
		&:after {
			content: "";
			background-color: transparent!important;
			border: 1px solid rgba(180,181,191,0.2);
			width: 100%;
			height:100%;
			display: block;
			position: absolute;
			top: 0px;
			left:0px;
			border-radius:$radius-btn;
			z-index: -1;
			transform-origin: bottom;
		  
		
		}
	
	&:hover, &:active, &:focus, &:not(:disabled):not(.disabled):active,  .btn-secondary:not(:disabled):not(.disabled):active:focus,  &:focus-visible, &:focus, &:visited, .btn.focus, .btn:focus {
		background-color: transparent!important;
		border-width: 0px;
		border-radius:$radius-btn; 
		box-shadow: none!important;
		color: $dark;
		border: 1px solid transparent;
		outline:none;
		&:after {
			animation-name : boingHover;
			animation-duration: 0.8s;
			animation-iteration-count: 1;
			animation-timing-function: ease-in-out;
			transform: scale(1) translateY(0px);
		}
		
		
	}
}


@media (min-width:576px) {
	.btn-group, .btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child), .btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) { 
	width:  200px;
	}
}
 
/// SELECT ////

.custom-select {


select.form-control {
width: 120px;
  border: 0;
  position: absolute;
  z-index: 99;
  background: none;
  top: 0px;
  font-weight: 600;
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
 
  flex: 1;
  padding: 0 1em;
  color: $dark;
 
  background-image: none;
  cursor: pointer;

	&:focus {
		outline:none;
	}

	}
	
	&:after {
	width: 8px;
    height: 8px;
    border-top: 2px solid #d40a36;
    border-right: 2px solid #d40a36;
    position: absolute;
    top: 50%;
    right: 15px;
    content: "";
    z-index: 50;
    display: block;
    background: transparent;
    transform: translateY(-50%) rotate(135deg);
	}
}
.custom-selectOne {
	position: relative;
}
.custom-selectOne select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  width: 90px;
    border-radius: 30px;
    text-align: center;
    font-weight: 600;
	background:white;
	    display: flex;
} 

/*style the arrow inside the select element:*/
.select-selected:after {
width: 8px;
    height: 8px;
    border-top: 2px solid #d40a36;
    border-right: 2px solid #d40a36;
    position: absolute;
    top: 50%;
    right: 15px;
    content: "";
    z-index: 50;
    display: block;
    background: transparent;
    transform: translateY(-50%) rotate(135deg);
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {

}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
	color: $dark;
	text-align: center;
	
	font-weight:600;
	
	
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
box-shadow: $shadow-box;
	    border-radius: 5px;

	div {
		border:none;
	}
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/// BOX SELECT & FILTRE ///

.box-options {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}




@media (min-width:768px) {
	.box-options {
		justify-content: space-between;
		
	}
}


@media (min-width:992px) { 
	
	
	.sticky_filter {
	position: sticky;
    top: 100px;
    z-index: 800;
    padding: 15px 0px;
		
		
		&.sticky-scroll {
			    background: #E4E5EB;
    			width: 100vw;
   				position: fixed;
    			left: 0px;
    			top: 90px;
				transition: all 0.3s linear;
				max-width: 100%; 
				padding: 20px 0px;
			.sticky-hidden {
				display:none;
			}
			.box-options {
		    
    		padding-right: 15px;
		
	} 
			
			.sticky-row {
				    justify-content: flex-end;
				    padding-right: 15px;
			}
			
			.sticky-box-options {
				display:flex;
				justify-content: flex-end;
				
				.box-options {
					min-width: 330px;
					padding-right: 15px;
    				width: 330px;
				
			} }
		}
	}
}


@media (min-width:992px) {
h1.sticky-title {
	
	
    top: 118px;
    z-index: 5000;
	margin-bottom: 0px;
}
}
 
@media (min-width:1400px) {
	.sticky_filter.sticky-scroll .sticky-row {
		    padding-right: calc((100% - 1350px)/2);
	}
}


//// COLLAPSE ///// 

.accordion {
	.card {
		    background: transparent;
   			border: none;
		.card-header {
			    background: transparent;
    			border: none;
			
			
	}
		
		
		.card-body {
	padding-top: 0px;
    font-size: 14px;
		}
		
		
		&.first-accordion.card-header {
				padding: 0px;
		.btn-collapse.first-collapse:after {
			display: none; 
		}
			} 
	}
} 

.btn-collapse, .last-collapse, .btn-collapse:not(:disabled):not(.disabled), .btn-collapse:hover {
	text-decoration: none!important;
	
	.title-collapse {
	font-size: 12px;
    max-width: 55%;
    text-align: left;
   
		
	}
	
	.infos-bulle {
		position:absolute;
		background: white;
		box-shadow: 0 2px 14px 2px rgba(163, 172, 185, 0.25);
		top: -5px;
		left: 0px;
		z-index: 8;
		transform: translateY(-100%);
		font-size:11px; 
		padding: 7px;
		border-radius: 7px;
		width: 100%;
		text-align: left;
	}
	
	.budget {
		font-size: 11px;
	}
	
    background-color: white!important;
    width: 100%;
    color: $dark;
	font-weight: 600;
    display: flex; 
    justify-content: space-between;
    align-items: center;
	box-shadow: $shadow-box;
	padding: 10px 25px;
	padding-left: 50px;
	min-height: 35px;
	border-radius: $radius-btn;
	position:relative;
	border: 1px solid rgba(180,181,191,0.2);
	
	&:hover, &:focus, &:active, &:focus-within, &:focus-visible, &:not(:disabled):not(.disabled).active, &.show>.btn-primary.dropdown-toggle, &:not(:disabled):not(.disabled) {
		 background-color: white!important;
		box-shadow: $shadow-box!important;
		color: $dark!important;
		border: none;
		outline-offset:0px;
		outline: none;
		border: 1px solid rgba(180,181,191,0.3);
	}
	
	&:before {
		content : "-";
			display: block;
			width: 25px;
			height:25px;
			background: $grey-light;
			border-radius: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: 5px;
		top: 50%;
    		transform: translateY(-50%);

	}
	
	&.collapsed {
		&:before {
		content : "+";
			display: block;
			width: 25px;
			height:25px;
			background: $grey-light;
			border-radius: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: 5px;
			top: 50%;
    		transform: translateY(-50%);
	}
	}
	
	&:after {
	content: "";
    width: 15px;
    height: 100%;
    border-bottom: 1px solid #B4B5BF;
    display: block;
    border-left: 1px solid #B4B5BF;
    position: absolute;
    top: 0px;
    left: -15px;
    transform: translateY(-50%);
	z-index: -1;
	}
	

	
}

.infos {
.collapse, .collapsing {
	margin-left:15px;	
	
}
}

.info-collapse {
	font-size:13px;
	margin-bottom: 30px;
}

.display-p {
	p:first-child {
		display:none;
	}
}

@media(max-width:380px) {
	.btn-collapse, .last-collapse, .btn-collapse:not(:disabled):not(.disabled), .btn-collapse:hover { 
	display: flex;
		flex-direction: column;
	}
	span, .title-collapse {
		width:100%;
		max-width: 100%!important;
	}
}

// LAST COLLAPSE ///

.last-collapse {
	padding-left: 30px;

	&:before {
		display:none; 
	}
}


// PROGRESS BAR ///

.progress-box {
	 margin: 15px auto 30px auto;
.progress {
	height: 4px;
    background: transparent;
	overflow: visible;
	
	.progress-bar {
		background: $purple-dark;
		position:relative;
		overflow: visible;
		&:after {
			    content: attr(aria-valuenow) "%";
				position: absolute;
				right: -40px;
				color: $dark;
			    width: 35px;
		}
	} }
	
}


    .truncate {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 150px;
    }

    .ele-clone {
        height: 1px;
        overflow: hidden;
        white-space: nowrap;
        position: fixed;
    }


