// Scss Document

// HEADER NAVBAR NAV BOX ////
header {
	background:white; 
	position: fixed;
    top: 0px;
	left:0px;
	width:100%;
    z-index: 9999;
	margin:0px;
	
	.navbar-brand  {
		 margin-right: 15px;
	}
	
	
	
	.navbar-light {
	.navbar-toggler {
		border-color: transparent;
		background: $primary-color;
		border-radius: 100%;
		height: 50px;
		width: 50px;
		.navbar-toggler-icon { 
			transition: all 0.3s linear;
			width:20px;
			background-image:none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border:none;
			height: 2px;
			background: white;
			&:first-child {
				transform: translateY(1px) translateX(3px) rotate(45deg);
			}
			&:nth-child(2) {
				opacity: 0px;
				width: 0px;
			}
			
			&:last-child {
				transform:translateY(-3px) translateX(2px) rotate(-45deg);
			}
		}
	}
	
	.navbar-toggler.collapsed {
		border:none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.navbar-toggler-icon {
			background-image: none;
			width: 20px;
			height: 2px;
			background-color: white;
			margin-bottom: 6px;
			display: block;
			transform: translateY(0px) translateX(0px) rotate(0deg);
			&:last-child {
				margin-bottom: 0px;
			}
}
		
		} }
	nav {
		
		li a {
			font-size: 13px;
			font-weight: 600;
			color: $dark!important;
			padding:15px 5px!important;
		}
		
		.navbar-collapse {
			background: white;
		}	
		
	
	}
	
	
}

.nav-box { 
	display:none;
}




@media(min-width:992px) {
	
	header {
	.navbar-light {
				.navbar-toggler, .navbar-toggler.collapsed {
				
				display: none;
				}}
		nav {
			
			
&.navbar {
transition: all 0.3s linear;
height:120px;
	
&.navbar-slim {
			
			height: 95px;
		}
	
	
	.navbar-nav {
		li {
			a {
			position: relative;
			margin: 0px 1rem 0px 0px!important;
			padding: 0px!important;
			padding-bottom: 10px!important;
			transition: all 0.3s linear;
			&:after {
				content: ""; 
				background-color: $primary-color;
				width: 50px;
				height: 2px;
				display: block;
				position: absolute;
				bottom: 0px;
				left:0px;
				transition: all 0.3s linear;
			}
			
			&:hover {
				&:after {
				width: 100%;
				
			}
				}
			}
		&.active {
				a {
					text-shadow:0 0 .35px  $dark, 0 0 .35px $dark;
					&:after {
					width: 100%;
				}
			}
		
		}
	}
	
	
	}

.nav-box {
	position: absolute;
    right: 0px;
	display: flex;
    flex-direction: row;
    width: 32vw;
    align-items: center;
    background: #156fa8;
    color: white;
    justify-content: space-between;
    padding: 5px 25px;
    border-radius: 30px 0px 0px 30px;
  
		
		p {
			   	margin-bottom: 0px;
    			font-size: 12px;
   				width: 50%;
			max-width: 140px;
		}
		
		.img-nav-box {
						
			img {
				max-width: 130px;

			}
		}
		
	} }

	
}	
	
	
	}
}
@media(min-width:1095px) {
		
	header {
	
		nav {
	&.navbar {
		.navbar-brand {
   margin-right: 1.5rem;
}
	}
	.nav-box {
		    padding: 8px 35px;
	}
}
	} }

@media(min-width:1200px) {
	
	header {
		nav {
		&.navbar {
		
		.navbar-nav {
			li a {
				margin: 0px 1rem 0px 0px !important;
				padding: 15px 0rem !important;
			}
		}
			
	
	.nav-box { 
		width:auto;
		padding-right:calc(((100% - 1350px)/2) + 15px);
				
		.img-nav-box { 
			    margin-left: 2vw;
			img {
				max-width: 150px;

			} }
		}
	}}
}
	} 