// Scss Document

$primary-color: #D40A36;
$dark: #464646;
$grey: #c3c4cd;
$grey-light:#F0F2F3; 
$purple-dark : #5E338C; 
$purple-flash: #CD00CB; 
$pink : #FF008E; 
$red-flash : #FF3900;
$yellow : #EA973E;

$shadow-box: 0 2px 14px 0 rgba(163,172,185,0.2);
$radius : 15px;
$radius-btn:50px;

 

img {
	max-width: 100%;
}

a {
	color:$dark;
	
	&:hover {
    color: inherit;
    text-decoration: none;
}
}


  
body {
	background: linear-gradient(170deg, #F0F1F6 0%, #FCFCFC 100%);
	font-family: 'Quicksand', sans-serif;
	background-attachment: fixed;
	padding-top: 85px;
}  

@media(min-width:992px) {
	body {
		padding-top: 120px;
	}
}
	

h1 {
	color: $primary-color;
	font-size:24px;
	font-weight: 500;
}

h2 {
	font-weight: 600;
	font-size:24px;
}
b, strong {
    font-weight: 600;
}
p {
	font-size: 14px;
	line-height: 19px;
}

hr {
	border-color: #B4B5BF;
}

.txt-large {
	font-size:17px;
	line-height:22px;
}

.headline {
	margin: 30px auto;
}

.bg-purple-dark {
	background: $purple-dark!important;
}

.bg-purple-flash { 
background:$purple-flash!important;
}

.bg-pink {
background:$pink!important; 
}

.bg-red-flash {
	background:$red-flash!important;
}

.bg-yellow  {
	background: $yellow!important;
}

// GRAPHIQUES ///

.cards.graph-1 {
	margin-top:0px;
}



/// CONTAINER ////
@media (min-width: 992px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
	max-width: 100%;
}
}

@media (min-width: 1200px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1350px;
	} }






