.accordion-info .btn-tooltips {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 5px;
}

.fil-ariane {
    max-height: 840px;

    margin-bottom: 40px;

    position: sticky;
    top: 180px;
    
    overflow-y: scroll;
}

.fil-ariane button.selected{
    /*
        déso pour le !important
        Pour lenlever, il faudrait nettoyer budget.css (ou le scoper à son composant)
    */
    border: 2px solid gold !important; 
}
.fil-ariane .collapse, .fil-ariane .collapsing {
    margin-left: 15px;
}