.tooltip {
    opacity: 50!important;
}

.wrapper
{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    margin-left: -30px;
} 

g:hover .sunburst-main-arc{
  opacity: 1;

  stroke: gold;
  stroke-width: 3px;
}

path[data-current-depth="0"], path[data-current-depth="1"]{
  opacity: 1;
}
path[data-current-depth="2"]{
  opacity: 0.7;
}
path[data-current-depth="3"]{
  opacity: 0.49;
}
path[data-current-depth="4"]{
  opacity: 0.34;
}
path[data-current-depth="5"]{
  opacity: 0.24;
}
path[data-current-depth="6"]{
  opacity: 0.17;
}

.sunburst-link-to-parent{
  cursor: pointer;
  height: 100px;
  width: 100px;
  
}

.sunburst-link-to-parent div {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: lightgray;
  color: black;
  font-size: 10px;
  justify-content: center;
  height: 100%;
  border: 1px solid black;
  border-radius: 100%;
  text-transform: uppercase;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  
}

.sunburst-link-to-parent .button-label {
  width: 50%;
  margin-top: 10px;
}

.sunburst-piece-tooltip{
  display: none;
  pointer-events: none;
  height: 180px;
}




.sunburst-piece-tooltip div {
  border: 2px solid grey;
  font-size: 12px;
  text-align: center;
  background-color: white;
  padding: 1rem;
  height: 85%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .sunburst-piece-tooltip div:before {
  content:'';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 15px solid grey;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.sunburst-piece-tooltip div:after {
  content:'';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 15px solid white;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
} */



.sunburst-wrapper
{
    grid-column: 1 ;
    grid-row: 1;
}

.elements
{
    grid-column: 2 ;
    grid-row: 1;
}
p {
    font-size: 14px;
    line-height: 19px;
}
.txt-large {
    font-size: 17px;
    line-height: 22px;
}

.custom-selectOne
{
    position: relative;
}
.box-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
@media (min-width: 768px) {
    .box-options {
      justify-content: space-between; } }
      @media (min-width: 992px) {
        .sticky_filter {
          position: sticky;
          top: 100px;
          z-index: 800;
          padding: 15px 0px; }
          .sticky_filter.sticky-scroll {
            background: #E4E5EB;
            width: 100vw;
            position: fixed;
            left: 0px;
            top: 90px;
            transition: all 0.3s linear;
            max-width: 100%;
            padding: 20px 0px; }
            .sticky_filter.sticky-scroll .sticky-hidden {
              display: none; }
            .sticky_filter.sticky-scroll .box-options {
              padding-right: 15px; }
            .sticky_filter.sticky-scroll .sticky-row {
              justify-content: flex-end;
              padding-right: 15px; }
            .sticky_filter.sticky-scroll .sticky-box-options {
              display: flex;
              justify-content: flex-end; }
              .sticky_filter.sticky-scroll .sticky-box-options .box-options {
                min-width: 330px;
                padding-right: 15px;
                width: 330px; } }