.histo-header {
    display: flex;
    justify-content: space-between;
}

.histo-header-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.histo-title {
    background-color: transparent;
    border-width: 0px;
    border-radius: 50px;
    box-shadow: none;
    color: #464646;
    border: 1px solid transparent;
    outline: 1px solid black;
    align-items: left;
}

.VictoryContainer g[role=presentation] {
  cursor: pointer;
}

@media (max-width: 768px) {
  .histo-title {
    font-size: 10px;
    padding: 10px;
  }
}

.inverted-border-radius {
    position: relative !important;
  }
  
  .inverted-border-radius::before {
    content: "" !important;
    position: absolute !important;
    background-color: transparent !important;
    bottom: -50px !important;
    height: 50px !important;
    width: 25px !important;
    border-top-left-radius: 25px !important;
    box-shadow: 0 -25px 0 0 #F66969 !important;
  }