@import "./styles/_fonts.scss";
@import "./styles/_layout.scss";
@import "./styles/_composants.scss";
@import "./styles/_blocs.scss";
@import "./styles/_header.scss";
@import "./styles/_footer.scss";

@import './containers/common.scss';
@import './containers/budget.scss';
@import './containers/mentions-legales.scss';
@import './containers/explication-compte-administratif.scss';

@import "./components/FilAriane.scss";
@import "./components/sunburst.scss";
@import "./components/CustomLegend/CustomLegend.scss";
@import "./components/StackedBarChart/StackedBarChart.scss";

body {
    margin: 0;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.hidden-title {
    display: none !important;
}